/* -- fonts -- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=VT323&display=swap");

/* -- root -- */

:root {
  --gray-white: #f0f1f2; /* For body*/
  --white: #ffffff;
  --black: #000000;
  --gray-black: #dddddd;
  --lt-gray: #efefef;
  --lt-black: #212523;
  --lt-black-op: #21252350;
  --main-green: #157343;
  --main-lt: #37a000;
  --lt-orange: #fd7e14;
  --green: #008000;
  --lt-green: #e9f6ec;
  --lp-green: #f8faf8;
  --red: #ff0000;
  --lt-red: #fbeaec;
}

/* -- universal style -- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

/* -- web app cursor element selection style -- */

::selection {
  color: var(--white);
  /* background-color: var(--main-lt); */
}

/* -- nav container style -- */

.cba-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
  background-color: var(--white);
  width: 100%;
  border-radius: 0%!important;
  position: sticky;
  top: 0;
  z-index: 10;
}

/* -- nav side menu toggle icon and loading pagename style -- */

.cba-nav-side-menu-toggle-icon-loading-pagename {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 5px;
}

/* -- nav side menu toggle icon style -- */

.t-icon-open {
  color: var(--main-green);
  font-size: 1.75rem;
  cursor: pointer;
}

.t-icon-close {
  color: var(--main-green);
  font-size: 1.75rem;
  cursor: pointer;
}

/* -- nav loading pagename style -- */

.cba-nav-loading-pagename h3 {
  color: var(--black);
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 17.5px;
}

/* -- nav features and user logo name style -- */

.cba-nav-features-user-logo-name {
  display: flex;
  gap: 20px;
  align-items: center;
}

/* -- nav features style -- */

.cba-nav-features {
  display: flex;
  gap: 15px;
  align-items: center;
}

/* -- nav close counter style -- */

.cba-nav-close-counter {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  background-color: var(--lp-green);
 /*  padding: 7px 10px; */
  padding: 13px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.cba-nav-close-counter img {
  height: 20px;
  width: 22px;
  cursor: pointer;
}

.cba-nav-close-counter h3 {
  color: var(--black);
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: -3px;
}

/* -- nav keyboard shortcut style -- */

.cba-nav-keyboard-shortcut {
  background-color: var(--lp-green);
  padding: 0px 5px;
  height: 44px;
  border-radius: 5px;
  cursor: pointer;
}

.cba-nav-keyboard-shortcut img {
  height: 50px;
  width: 60px;
  margin-top: -4px;
}

/* -- nav LTR and RTL switch style -- */

.cba-nav-ltr-rtl-switch {
  background-color: var(--lt-gray);
  padding: 0px 12px;
  border: 1px solid var(--gray-black);
  border-radius: 5px;
  cursor: pointer;
  height: 42px;
  width: 42px;
}

.cba-nav-ltr-rtl-switch:hover {
  background-color: var(--gray-black);
}

.cba-nav-ltr-rtl-switch h3 {
  color: var(--lt-black);
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 11px;
  margin-left: -7px;
}

/* -- nav language switch style -- */

.cba-nav-lang-switch {
  background-color: var(--lt-gray);
  padding: 5px 5px;
  border: 1px solid var(--gray-black);
  border-radius: 5px;
  cursor: pointer;
  height: 42px;
  width: 42px;
}

.cba-nav-lang-switch:hover {
  background-color: var(--gray-black);
}

.cba-nav-lang-switch img {
  height: 32.5px;
  width: 32px;
  border-radius: 50%;
  margin-top: -1px;
  margin-left: -1px;
}

/* -- nav fullscreen switch style -- */

.cba-nav-fullscreen-switch {
  background-color: var(--gray-white);
  padding: 5px 5px;
  border-radius: 50%;
  cursor: pointer;
  height: 43px;
  width: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -- nav fullscreen icon style -- */

.fullscreen-icon {
  color: var(--lt-black);
  font-size: 1.3rem;
  margin-top: 2px;
  margin-left: -0.5px;
}

.exit-fullscreen-icon {
  color: var(--lt-black);
  font-size: 1.75rem;
  margin-top: 2px;
  margin-left: -1.5px;
}

/* -- nav user logo name style -- */

.cba-nav-user-logo-name {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 6.5px;
  cursor: pointer;
  position: relative;
}

/* -- nav user logo style -- */

.cba-nav-user-logo img {
  height: 44px;
  width: 44px;
  margin-top: -5px;
}

/* -- nav user name and role style -- */

.cba-nav-user-name {
  margin-top: 8px;
}

.cba-nav-user-name h3 {
  color: var(--black);
  font-size: 0.9375rem;
  font-weight: 500;
}

.cba-nav-user-role h4 {
  color: var(--black);
  font-size: 0.75rem;
  font-weight: 400;
  margin-top: -10px;
}

/* -- nav user modal style -- */

.cba-nav-user-modal-container {
  background-color: var(--lp-green);
  height: 305px;
  width: 240px;
  display: none;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-left: 50px;
  margin-top: 50px;
  position: absolute;
  z-index: 1;
  top: 25px;
  right: 10px;
}

#btn {
  display: none;
}

.cba-nav-user-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* -- nav user modal top part style -- */

.cnum-top-part {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 15px;
}

.cnum-top-part img {
  height: 90px;
  width: 90px;
  border-radius: 50%;
}

.cnum-top-part h3 {
  color: var(--black);
  font-size: 1.125rem;
  font-weight: 500;
  cursor: pointer;
  margin-top: 20px;
}

.cnum-top-part h3:hover {
  color: var(--lt-black);
}

.cnum-top-part h5 {
  color: var(--lt-black-op);
  font-size: 0.813rem;
  font-weight: 400;
}

/* -- nav user modal middle part style -- */

.cnum-middle-part {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.cnum-middle-part h3 {
  color: var(--main-lt);
  font-size: 0.9375rem;
  font-weight: 500;
  cursor: pointer;
}

.cnum-middle-part h3:hover {
  color: var(--lt-black);
}

/* -- nav user modal bottom part style -- */

.cnum-bottom-part {
  display: flex;
  gap: 20px;
  align-items: center;
}

.cba-nav-modal-sign-out-btn {
  color: var(--black) !important;
  background-color: var(--lt-gray);
  padding: 5px 10px;
  border: 1px solid var(--gray-black);
  border-radius: 5px;
  color: var(--black);
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.cba-nav-modal-close-btn {
  color: var(--red) !important;
  background-color: var(--lt-gray);
  padding: 5px 10px;
  border: 1px solid var(--gray-black);
  border-radius: 5px;
  color: var(--black);
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}