/* -- font link -- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* -- root css -- */

:root {
    --black: #000000;
    --gray-black: #DDDDDD;
    --gray-white: #F0F1F2; /* For body*/
    --green: #008000;
    --lp-green: #F8FAF8;
    --lt-black-op: #21252350;
    --lt-black: #212523;
    --lt-gray: #EFEFEF;
    --lt-green: #e9f6ec;
    --orange: #FD7E14;
    --lt-red: #fbeaec;
    --m-green: #157343;
    --m-lt: #37A000;
    --red: #FF0000;
    --white: #FFFFFF;
}

/* -- universal style -- */

* {
    box-sizing: border-box;
    font-family: "Poppins", serif;
    margin: 0;
    padding: 0;
}

/* -- web app cursor element selection style -- */

::selection {
    background-color: var(--m-lt);
    color: var(--white);
}

/* -- setting container style -- */

.cba-add-currency-container {
    padding: 20px 20px 20px 30px;
}

/* -- addcur top menu bar style -- */

/* -- menu block style -- */

.cba-addcur-top-menubar > ul {
    align-items: flex-start;
    background-color: var(--white);
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 10px 0px 7.5px 0px;
}

/* -- main menu and their icon style -- */

.cba-addcur-top-menubar > ul > li {
    align-items: center;
    border-bottom: 2px solid var(--white);
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    gap: 5px;
}

/* -- active main menu style -- */

.cba-addcur-top-menubar > ul > li.cba-addcurtm-one {
    color: var(--m-lt);
}

/* -- main menu icon style -- */

.cba-addcur-top-menubar > ul > li > .cba-top-menu-arrow {
    color: var(--lt-black);
    font-size: 1.5rem;
}

/* -- main menu hover style -- */

.cba-addcur-top-menubar > ul > li:hover {
    border-bottom: 2px solid var(--m-lt);
}

/* -- menu three style -- */

.cba-addcur-top-menubar > ul > li > a {
    color: var(--black);
    text-decoration: none;
}

/* -- addcur top menu bar dropdown style -- */

.cba-addcur-top-menubar > ul > li > ul {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 7.5px;
    list-style-type: none;
    padding: 2.5px 12.5px;
}

.cba-addcur-top-menubar > ul > li > ul {
    display: none;
}

/* -- main manus dropdown style -- */

.cba-addcur-top-menubar > ul > .cba-addcurtm-one:hover > .cba-addcurtm-one-dd {
    display: block;
}

.cba-addcur-top-menubar > ul > .cba-addcurtm-two:hover > .cba-addcurtm-two-dd {
    display: block;
}

/* -- dropdown menus text style -- */

.cba-addcur-top-menubar > ul > li > ul > li {
    padding-bottom: 2.5px;
}

.cba-addcur-top-menubar > ul > li > ul > li > a {
    color: var(--black);
    font-size: 0.875rem;
    text-decoration: none;
    white-space: nowrap;
}

/* -- dropdown active menu style -- */

.cba-addcur-top-menubar > ul > li > ul > li > a.cba-addcurtm-one-dd-active {
    color: var(--m-lt);
}

/* -- dropdown menus hover style -- */

.cba-addcur-top-menubar > ul > li > ul > li > a:hover {
    text-decoration: underline 1.5px var(--m-lt);
}

/* -- dropdown menu position style -- */

.cba-addcur-top-menubar > ul > .cba-addcurtm-one {
    position: relative;
}

.cba-addcur-top-menubar > ul > li > .cba-addcurtm-one-dd {
    position: absolute;
    top: 27.5px;
    left: 0px;
    z-index: 1;
}

.cba-addcur-top-menubar > ul > .cba-addcurtm-two {
    position: relative;
}

.cba-addcur-top-menubar > ul > li > .cba-addcurtm-two-dd {
    position: absolute;
    top: 27.5px;
    left: 0px;
    width: 177px;
    z-index: 1;
}

/* ------------------------------------------------------------------------------------------------ */

/* currency add container */
.cba-addcur-inner-container {
    width: 100%;
    background-color: var(--white);
    padding: 20px 25px;
}

/* head part */
.cba-addcur-ic-head-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--gray-black);
    padding-bottom: 15px;
}

.cba-addcur-ic-head-part > h1 {
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--lt-black);
    margin-bottom: 0;
}

.cba-addcur-ic-head-part > a {
    color: var(--white);
    background-color: var(--m-green);
    padding: 5px 10px 3px;
    border-radius: 2.5px;
    cursor: pointer;
}

.cba-addcur-ic-head-part > a > i.cba-addcur-list-page-icon {
    font-size: 1.25rem;
    margin-top: -2px;
}

/* middle part */
.cba-addcur-ic-middle-part {
    width: 100%;
    border-bottom: 1px solid var(--gray-black);
    padding: 20px 0px;
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.cba-addcur-required {
    color: var(--red);
}

/* input box 1 */
.cba-addcur-ic-mp-input-box1 {
    width: 35%;
    display: flex;
    gap: 72px;
    align-items: center;
}

.cba-addcur-ic-mp-input-box1 > label {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 0;
    color: var(--lt-black);
}

.cba-addcur-ic-mp-input-box1 > input {
    width: 100%;
    border: 1px solid var(--gray-black);
    border-radius: 2.5px;
    text-align: left;
    padding: 7.5px 10px 5px;
    margin-bottom: 0;
}

/* input box 2 */
.cba-addcur-ic-mp-input-box2 {
    width: 35%;
    display: flex;
    gap: 44px;
    align-items: center;
}

.cba-addcur-ic-mp-input-box2 > label {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 0;
    color: var(--lt-black);
}

.cba-addcur-ic-mp-input-box2 > input {
    width: 100%;
    border: 1px solid var(--gray-black);
    border-radius: 2.5px;
    text-align: left;
    padding: 7.5px 10px 5px;
    margin-bottom: 0;
}

/* select box */
.cba-addcur-ic-mp-select-box {
    width: 35%;
    display: flex;
    gap: 50px;
    align-items: center;
}

.cba-addcur-ic-mp-select-box {
    width: 35%;
    display: flex;
    gap: 40px;
    align-items: center;
}

.cba-addcur-ic-mp-select-box > label {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 0;
    color: var(--lt-black);
}

.cba-addcur-ic-mp-select-box > select {
    width: 100%;
    border: 1px solid var(--gray-black);
    border-radius: 2.5px;
    text-align: left;
    padding: 7.5px 10px 5px;
    &:focus {
        outline: none;
    }
}

/* status box */
.cba-addcur-ic-mp-status-box {
    width: 35%;
    display: flex;
    gap: 55px;
    align-items: center;
}

.cba-addcur-ic-mp-status-box > label {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 0;
    color: var(--lt-black);
    margin-bottom: 2.5px;
}

.cba-addcur-ic-mp-status-box > div {
    display: flex;
    gap: 25px;
    align-items: center;
}

.cba-addcur-ic-mp-status-box > div > div {
    display: flex;
    gap: 5px;
    align-items: center;
}

/* bottom part */
.cba-addcur-ic-bottom-part {
    padding-top: 20px;
    display: flex;
    justify-self: end;
}

.cba-addcur-ic-bottom-part > input {
    width: 100%;
    color: var(--white);
    background-color: var(--m-green);
    font-size: 1rem;
    padding: 5px 10px 3px;
    border-radius: 2.5px;
    cursor: pointer;
}