/* -- font link -- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* -- root css -- */

:root {
    --black: #000000;
    --gray-black: #DDDDDD;
    --gray-white: #F0F1F2; /* For body*/
    --green: #008000;
    --lp-green: #F8FAF8;
    --lt-black-op: #21252350;
    --lt-black: #212523;
    --lt-gray: #EFEFEF;
    --lt-green: #e9f6ec;
    --orange: #FD7E14;
    --lt-red: #fbeaec;
    --m-green: #157343;
    --m-lt: #37A000;
    --red: #FF0000;
    --white: #FFFFFF;
}

/* -- universal style -- */

* {
    box-sizing: border-box;
    font-family: "Poppins", serif;
    margin: 0;
    padding: 0;
}

/* -- web app cursor element selection style -- */

::selection {
    background-color: var(--m-lt);
    color: var(--white);
}

/* -- setting container style -- */

.cba-settings-container {
    padding: 20px 20px 20px 30px;
}

/* -- settings top menu bar style -- */

/* -- menu block style -- */

.cba-settings-top-menubar > ul {
    align-items: flex-start;
    background-color: var(--white);
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 10px 0px 7.5px 0px;
}

/* -- main menu and their icon style -- */

.cba-settings-top-menubar > ul > li {
    align-items: center;
    border-bottom: 2px solid var(--white);
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    gap: 5px;
}

/* -- active main menu style -- */

.cba-settings-top-menubar > ul > li.cba-stm-one {
    color: var(--m-lt);
}

/* -- main menu icon style -- */

.cba-settings-top-menubar > ul > li > .cba-top-menu-arrow {
    color: var(--lt-black);
    font-size: 1.5rem;
}

/* -- main menu hover style -- */

.cba-settings-top-menubar > ul > li:hover {
    border-bottom: 2px solid var(--m-lt);
}

/* -- menu three style -- */

.cba-settings-top-menubar > ul > li > a {
    color: var(--black);
    text-decoration: none;
}

/* -- settings top menu bar dropdown style -- */

.cba-settings-top-menubar > ul > li > ul {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 7.5px;
    list-style-type: none;
    padding: 2.5px 12.5px;
}

.cba-settings-top-menubar > ul > li > ul {
    display: none;
}

/* -- main manus dropdown style -- */

.cba-settings-top-menubar > ul > .cba-stm-one:hover > .cba-stm-one-dd {
    display: block;
}

.cba-settings-top-menubar > ul > .cba-stm-two:hover > .cba-stm-two-dd {
    display: block;
}

/* -- dropdown menus text style -- */

.cba-settings-top-menubar > ul > li > ul > li {
    padding-bottom: 2.5px;
}

.cba-settings-top-menubar > ul > li > ul > li > a {
    color: var(--black);
    font-size: 0.875rem;
    text-decoration: none;
    white-space: nowrap;
}

/* -- dropdown active menu style -- */

.cba-settings-top-menubar > ul > li > ul > li > a.cba-stm-one-dd-active {
    color: var(--m-lt);
}

/* -- dropdown menus hover style -- */

.cba-settings-top-menubar > ul > li > ul > li > a:hover {
    text-decoration: underline 1.5px var(--m-lt);
}

/* -- dropdown menu position style -- */

.cba-settings-top-menubar > ul > .cba-stm-one {
    position: relative;
}

.cba-settings-top-menubar > ul > li > .cba-stm-one-dd {
    position: absolute;
    top: 27.5px;
    left: 0px;
    z-index: 1;
}

.cba-settings-top-menubar > ul > .cba-stm-two {
    position: relative;
}

.cba-settings-top-menubar > ul > li > .cba-stm-two-dd {
    position: absolute;
    top: 27.5px;
    left: 0px;
    width: 177px;
    z-index: 1;
}

/* ------------------------------------------------------------------------------------------------ */

/* -- settings inner container style --  */

.cba-settings-inner-container {
    background-color: var(--white);
    margin-top: 25px;
    width: 100%;
}

/* -- settings inner container top part style -- */

.cba-settings-inner-container > .cba-stng-incon-toppart {
    display: flex;
    justify-content: flex-start;
    padding: 15px 25px 15px 25px;
    border-bottom: 1px solid var(--lt-gray);
}

/* -- settings inner container top part heading style -- */

.cba-settings-inner-container > .cba-stng-incon-toppart > .cba-stng-incon-toppart-heading > h2 {    
    color: var(--lt-black);
    font-size: 1.1rem;
    font-weight: 500;
}

/* -- settings inner container middle part style -- */

.cba-stng-incon-middlepart {
    width: 100%;
    padding: 20px 25px 20px 25px;
}

/* -- settings inner container middle part text input field style -- */

.cba-stng-incon-middlepart-text-input-field {
    display: flex;
    gap: 50px;
    width: 100%;
}

/* -------------------------------------------------------------------- */

/* -- settings inner container middle part text input field column one style -- */

.cba-stng-incon-middlepart-text-input-field-col1 {
    width: 33%;
}

.cba-stng-incon-mp-tif-col1-input-label {
    display: flex;
    flex-direction: column;
    gap: 7.5px;
    margin-bottom: 20px;
}

.cba-stng-incon-mp-tif-col1-input-label > label {
    color: var(--lt-black);
    font-size: 1rem;
    font-weight: 500;
}

.cba-stng-incon-mp-tif-col1-input-label > input {
    border: 1px solid var(--lt-gray);
    border-radius: 2.5px;
    padding: 5px 10px 5px 10px;
    width: 100%;
}

.cba-stng-incon-mp-tif-col1-input-label > input:focus {
    outline: 1px solid var(--m-lt);
}

/* -- settings inner container middle part text input field column one required style -- */

.cba-stng-incon-mp-tif-col1-input-label > label > .required{
    color: var(--red);
}

/* -------------- */

.cba-stng-incon-mp-tif-col1-fxd-date-top {
    display: flex;
    gap: 10px;
    align-items: center;
}

.cba-stng-incon-mp-tif-col1-fxd-date-top > label {
    color: var(--lt-black);
    font-size: 1.25rem;
    font-weight: 500;
    white-space: nowrap;
}

/* -- enable and disable button style -- */

.cba-stng-incon-mp-tif-col1-fxd-date-top > input:nth-child(2) {
    background-color: var(--m-green);
    border: none;
    border-radius: 2.5px;
    color: var(--white);
    font-size: 1rem;
    font-weight: 500;
    padding: 7px 10px 5px 10px;
    cursor: pointer;
}

.cba-stng-incon-mp-tif-col1-fxd-date-top > input:nth-child(3) {
    background-color: var(--red);
    border: none;
    border-radius: 2.5px;
    color: var(--white);
    font-size: 1rem;
    font-weight: 500;
    padding: 7px 10px 5px 10px;
    cursor: pointer;
}

.cba-stng-incon-mp-tif-col1-fxd-date-bottom {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.cba-stng-incon-mp-tif-col1-fxd-date-bottom > label {
    color: var(--lt-black);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 5px;
}

.cba-stng-incon-mp-tif-col1-fxd-date-bottom > input {
    border: 1px solid var(--lt-gray);
    border-radius: 2.5px;
    padding: 5px 10px 5px 10px;
    width: 100%;
}

.cba-stng-incon-mp-tif-col1-fxd-date-bottom > input:focus {
    outline: 1px solid var(--m-lt);
}

/* ------------------------------------------------------------------------------ */

/* -- settings inner container middle part text input field column two style -- */

.cba-stng-incon-middlepart-text-input-field-col2 {
    width: 33%;
}

.cba-stng-incon-mp-tif-col2-input-label {
    display: flex;
    flex-direction: column;
    gap: 7.5px;
    margin-bottom: 20px;
}

.cba-stng-incon-mp-tif-col2-input-label > label {
    color: var(--lt-black);
    font-size: 1rem;
    font-weight: 500;
}

.cba-stng-incon-mp-tif-col2-input-label > input {
    border: 1px solid var(--lt-gray);
    border-radius: 2.5px;
    padding: 5px 10px 5px 10px;
    width: 100%;
}   

.cba-stng-incon-mp-tif-col2-input-label > input:focus {
    outline: 1px solid var(--m-lt);
}

/* -- settings inner container middle part text input field column two required style -- */

.cba-stng-incon-mp-tif-col2-input-label > label > .required{
    color: var(--red);
}

/* --------------- */

.cba-stng-incon-mp-tif-col2-vat-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
    font-size: 1.25rem;
    font-weight: 500;
}

.cba-stng-incon-mp-tif-col2-vat-btn > button:nth-child(1) {
    background-color: var(--m-green);
    border: none;
    border-radius: 2.5px;
    color: var(--white);
    font-size: 1rem;
    font-weight: 500;
    padding: 7px 10px 5px 10px;
    cursor: pointer;
}

.cba-stng-incon-mp-tif-col2-vat-btn > button:nth-child(2) {
    background-color: var(--red);
    border: none;
    border-radius: 2.5px;
    color: var(--white);
    font-size: 1rem;
    font-weight: 500;
    padding: 7px 10px 5px 10px;
    cursor: pointer;
}

.cba-stng-incon-mp-tif-col2-input-label > label {
    color: var(--lt-black);
    font-size: 1rem;
    font-weight: 400;
}

.cba-stng-incon-mp-tif-col2-input-label > select {
    border: 1px solid var(--lt-gray);
    border-radius: 2.5px;
    padding: 5px 10px 5px 10px;
    width: 100%;
    font-size: 0.875rem;
    appearance: none;
}

.cba-stng-incon-mp-tif-col2-input-label > select:focus {
    outline: 1px solid var(--m-lt);
}

.cba-stng-incon-mp-tif-col2-input-label > select > option {
    color: var(--lt-black);
    font-size: 0.875rem;
    font-weight: 400;
}

/* --------------------------------------------------------------------------------- */

/* todo: -- settings inner container middle part text input field column three style -- */

cba-stng-incon-middlepart-text-input-field-col3 {
    width: 33%;
}

.cba-stng-incon-middlepart-fif-input-one {
    margin-bottom: 15px;
}

.cba-stng-incon-middlepart-fif-input-one > h3 {
    font-size: 1.05rem;
    font-weight: 400;
    margin-bottom: 5px;
}

.cba-stng-incon-middlepart-fif-input-one > img {
    border: 2px solid var(--gray-white);
    border-radius: 5px;
    overflow: hidden;
}

.cba-simfio-fileupload {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.cba-simfio-fileupload > input[type="file"] {
    background-color: var(--white);
    border: 1px solid var(--gray-white);
    border-top-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 0px;
    font-size: 0.875rem;
    font-weight: 400;
    padding: 0;
}

.cba-simfio-fileupload > input[type="file"]::-webkit-file-upload-button {
    background-color: var(--lt-gray);
    border: none;
    border-top-left-radius: 2.5px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 2.5px;
    border-bottom-right-radius: 0px;
    color: var(--lt-black);
    font-size: 0.875rem;
    font-weight: 400;
    padding: 7px 10px 5px 10px;
    cursor: pointer;
}

.cba-simfio-fileupload > label {    
    color: var(--black);
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: 400;
    background-color: var(--lt-gray);
    padding: 8px 10px 6px 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 5px;
}

.cba-stng-incon-middlepart-fif-input-one > span {
    color: var(--lt-black);
    font-size: 0.875rem;
    font-weight: 400;
}

/* --------------------------------------------------------------------------------- */

/* settings inner container bottom part style  */

.cba-stng-incon-bottompart {
    display: flex;
    justify-content: flex-start;
    padding: 15px 25px 15px 25px;
    border-top: 1px solid var(--lt-gray);
}

.cba-stng-incon-bottompart > input {
    color: var(--white);
    background-color: var(--m-green);
    border: none;
    border-radius: 5px;
    padding: 8px 10px 6px 10px;
}