/* -- fonts -- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=VT323&display=swap');

/* -- root -- */

:root {
    --gray-white: #F0F1F2; /* For body*/
    --white: #FFFFFF;
    --black: #000000;
    --gray-black: #DDDDDD;
    --lt-black: #212523;
    --lt-black-op: #21252350;
    --m-green: #157343;
    --m-light: #37A000;
    --orange: #FD7E14;
    --green: #008000;
    --lt-green: #e9f6ec;
    --red: #FF0000;
    --lt-red: #fbeaec;
}

/* ---------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

::selection {
    color: var(--white);
    background-color: var(--m-lt);
}

/* -- category container style -- */

.cba-exp-category-container {
    width: 100%;
    margin-top: 25px;
    padding: 0px 20px 20px 30px;
}

/* -- top menus style--  */

.cba-exp-top-menus {
    background-color: var(--white);
    display: flex;
    justify-content: left;
    align-items: center;
    height: 60px;
    margin-bottom: 15px;
}

.cba-exp-top-menus ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
    margin-left: -10px;
    margin-top: 18px;
}

.cba-exp-top-menus ul li a {
    text-decoration: none;
    color: var(--black);
    font-size: 15px;
    font-weight: 500;
}

/* -- active menu style -- */

.cba-exp-active-menu {
    color: var(--white)!important;
    background-color: var(--m-green);
    padding: 8px 12px;
    border-radius: 5px;
}

/* -- menu hover style -- */

.cba-exp-light-up:hover {
    color: var(--orange);
}

/* -- list container style -- */

.cba-exp-list-container {
    background-color: var(--white);
    padding: 20px 20px 10px;
}

/* -- heading-add-new-btn style -- */

.cba-exp-heading-add-new-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--gray-black) ;
}

.cba-exp-heading h2 {
    color: var(--lt-black);
    font-size: 22px;
    font-weight: 500;
}

/* -- list-short-dpdwn-search-box style -- */

.cba-exp-list-short-dpdwn-search-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 10px;
}

/* -- list-short-dpdwn style -- */

.cba-exp-list-short-dpdwn {
    display: flex;
    gap: 7.5px;
    align-items: center;
}

.cba-exp-list-short-dpdwn h3 {
    color: var(--lt-black);
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 0;
}

.cba-exp-list-short-dpdwn select {
    color: var(--lt-black);
    appearance: none;
    height: 35px;
    width: 35px;
    padding-left: 6px;
    outline: none;
    border-radius: 2.5px;
}

/* -- search-box style -- */

.cba-exp-search-box {
    display: flex;
    align-items: center;
}

.cba-exp-search-box legend {
    font-size: 1rem;
    color: var(--lt-black);
    margin-bottom: 0;
}

.cba-exp-search-box input {
    outline: none;
    height: 28px;
    width: 193px;
    border: 1px solid var(--gray-black);
    margin-left: 5px;
    margin-bottom: 0;
}

/* -- table-list style --*/

table {
    border-collapse: collapse;
    width: 100%;
}

@media (max-width: 768px) {
    table {
        width: 100%;
        padding: 0rem;
        display: block;
        overflow-x: scroll;
        overflow-y: hidden;
        scrollbar-width: thin;
        scrollbar-color: var(--black);
    }
}

/* -- thead style -- */

thead {
    cursor: pointer;
}

th, td {
    border: 1px solid var(--gray-black);
    padding: 10px 15px;
}

thead tr th {
    font-size: 1rem;
    font-weight: 600;
    text-align: left;
}

tbody tr td {
    font-size: 0.875rem;
}

tbody tr:hover {
    background-color: var(--gray-white);
}

/* -- tbody style -- */

/* -- status style -- */

.cba-exp-status-expired {
    color: var(--red);
    font-size: 0.7rem;
    font-weight: 500;
    background-color: var(--lt-red);
    padding: 3px 7.5px 3px;
    border: none;
    border-radius: 5px;
}


/* -- action style -- */

.cba-exp-restock-btn {
    color: var(--white);
    font-size: 0.75rem;
    background-color: var(--m-green);
    padding: 6px 12px 4px;
    border: none;
    border-radius: 2.5px;
    cursor: pointer; 
    margin-right: 5px;
}

.cba-exp-remove-btn {
    color: var(--white);
    font-size: 0.75rem;
    background-color: var(--red);
    padding: 6px 12px 4px;
    border: none;
    border-radius: 2.5px;
    cursor: pointer; 
    margin-left: 5px;   
}

/* -- no data style */

.cba-exp-no-data-available th {
    font-size: 14px;
    font-weight:500;
    color: var(--black);
    background-color: var(--gray-white);
}

/* -- entries-details-list-page-btn style -- */

.cba-exp-entries-details-list-page-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

.cba-exp-entries-details {
    color: var(--black);
    font-size: 15px;
}

.cba-exp-list-page-btn {
    display: flex;
    gap: 5px;
    align-items: center;
}

.cba-exp-list-page-btn button {
    color: var(--lt-black);
    background-color: var(--gray-white);
    padding: 7px 14px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cba-exp-list-page-btn h4 {
    color: var(--white);
    background-color: var(--m-lt);
    font-size: 15px;
    font-weight: 400;
    padding: 8px 12px;
    border-radius: 5px;
    margin-bottom: 0;
}