@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

:root {
    --gray-white: #F0F1F2;
    --white: #FFFFFF;
    --black: #000000;
    --gray-black: #DDDDDD;
    --light-black: #212523;
    --light-black-op: #21252350;
    --main-green: #157343;
    --main-light: #37A000;
    --orange: #FD7E14;
    --green: #008000;
    --light-green: #e9f6ec;
    --red: #FF0000;
    --light-red: #fbeaec;
    /* === FONTS SIZE FOR HEADING === */
    --primary-head: 22px;
    --secondary-head: 1.125rem;
    --secondary: 1rem;
    --primary-para: 0.825rem;
}


.pv-sh-parent {
    width: 100%;
    padding: 20px;
}

.pv-sh-child-container {
    background-color: var(--white);
    box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-top: 20px;
}

/* === DRAFT SALE SECITON === */
.pv-sh-draft-sale-section {
    width: 100%;

}

/* === DRAFT SALE TOP ITEMV === */
.pv-sh-draft-sale-top-item {
    height: 80px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}

.pv-sh-draft-sale-top-item p {
    font-size: var(--secondary);
}

.pv-sh-sub-account {
    display: flex;
    gap: 8px;
}
.pv-sh-filter{
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--main-green);
    color: var(--white);
}
.pv-sh-sub-account p{
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--main-green);
    color: var(--white);
}

hr{
margin-top: -8px;
}

/* === SHOW AND SEARCH CONTAINER === */
.pv-sh-show-and-search-container {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pv-sh-show-container {
    gap: 5px;
    font-size: var(--secondary);
    display: flex;
    align-items: center;
}

.pv-sh-show-container select {
    padding: 3px 1px 3px 10px;
}

.pv-sh-show-container select:focus {
    outline: none;
}

/* === SEARCH === */
.pv-sh-search-container {
    gap: 5px;
    display: flex;
    align-items: center;
}

.pv-sh-search-container input {
    width: 400px;
    padding: 5px 10px;
    border: 1px solid var(--light-black-op);
}

.pv-sh-search-container input:focus {
    outline: none;
}

/* === MANAGE SALE DETAILS SECTION === */
.pv-manage-sale-details-section {
    width: 100%;
    padding: 0px 20px;
}

/* === TABLE === */
table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    border: 1px solid var(--light-black-op);
}

table th {
    font-size: var(--secondary);
    font-weight: 500;
}

table tr:hover {
    background-color: rgba(92, 91, 91, 0.103);
}

.pv-empty-section {
    width: 100%;
}

.pv-text-center {
    text-align: center;
    font-size: 13px;
}

/* === SLIDE PAGES === */
.pv-sh-slider-pages {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pv-sh-slide-right-item {
    gap: 10px;
    display: flex;
    align-items: center;
}

.pv-sh-slide-right-item a {
    padding: 6px 10px;
    border-radius: 5px;
    color: var(--black);
    background-color: var(--light-black-op);
}

.pv-sh-slide-right-item p {
    padding: 6px 15px;
    border-radius: 5px;
    color: var(--white);
    background-color: var(--main-green);
}