@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

/* body {
    background-color: var(--gray-white);
} */

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}
/* body{
    background-color: var(--gray-white);
} */
:root {
    --gray-white: #F0F1F2;
    --white: #FFFFFF;
    --black: #000000;
    --gray-black: #DDDDDD;
    --light-black: #212523;
    --light-black-op: #21252350;
    --main-green: #157343;
    --main-light: #37A000;
    --orange: #FD7E14;
    --green: #008000;
    --light-green: #e9f6ec;
    --red: #FF0000;
    --light-red: #fbeaec;
    /* === FONTS SIZE FOR HEADING === */
    --primary-head: 22px;
    --secondary-head: 1.125rem;
    --secondary: 1rem;
    --primary-para: 0.825rem;
}


.pl-sh-parent{
    width: 100%;
    padding: 20px;
}
.pl-sh-child-container{
    background-color: var(--white);
    box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-top: 20px;
}
/* === TOP MENU ITEMS === */
.pl-sh-top-menu-items {
    top: 10px;
    z-index: 999;
    border-radius: 5px;
    background-color: var(--white);
    box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.3);
    padding: 10px 0px 10px 10px;
    position: sticky;
}

.pl-sh-top-menu-items ul {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: -1px;
}

.pl-sh-top-menu-items li {
    height: 50px;
}

.pl-sh-top-menu-items a {
    height: 100%;
    padding: 0px 20px;
    color: var(--black);
    font-size: var(--secondary);
    display: flex;
    align-items: center;
}

.pl-sh-menu-items a:hover {
    color: var(--red);
}

/* === ACTIVE MENU === */
.pl-sh-active-item a {
    background-color: var(--main-green);
    color: var(--white);
    border-radius: 5px;
}

/* === FIND SECTION === */
.pl-sh-find-section{
    height: 100px;
    padding: 20px;
    gap: 30px;
    background-color: var(--white);
    box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-top: 20px;
    display: flex;
    align-items: flex-end;
}
.pl-sh-voucher-input{
    width: 20%;
    line-height: 2em;
    display: flex;
    flex-direction: column;

}
.pl-sh-voucher-input-data{
    width: 19%;
   
    line-height: 1.9em;
    display: flex;
    flex-direction: column;
    margin-bottom: -10px;
}
.pl-sh-voucher-input-data input{
    border-radius: 4px;
    height: -12px;
    padding: 3px;
}
.pl-sh-voucher-input select{
    width: 100%;

    border: 1px solid var(--light-black-op);
    border-radius: 3px;
    padding: 3px;
    padding-left: 10px;
}
.pl-sh-voucher-input select:focus{
    outline: none;
}
.pl-sh-voucher-input input{
    width: 100%;
    padding: 6px;
    border: 1px solid var(--light-black-op);
    border-radius: 3px;
}
.pl-sh-voucher-input input:focus{
    outline: none;
}
/* === FIND AND RESET === */
.pl-sh-find-reset-container{
    gap: 20px;
    display: flex;
    align-items: center;
}
.pl-sh-find-btn button{
    padding: 7px 15px;
    color: var(--white);
    background-color: var(--green);
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    border: none;
}
.pl-sh-find-btn button:hover{
    background-color: var(--main-green);
}
.pl-sh-reset-btn button{
    padding: 7px 15px;
    color: var(--white);
    background-color: var(--red);
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    border: none;
}
.pl-sh-reset-btn button:hover{
    background-color: darkred;
}
.pl-sh-excel-btn button{
    padding: 7px 15px;
    color: var(--white);
    background-color: blue;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    border: none;
}
.pl-sh-excel-btn button:hover{
    background-color: darkblue;
}
/* === BOOK REPORST === */
.pl-sh-book-report-section{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.pl-sh-book-report-section:first-child{
    align-items: flex-start;
}
/* === BOOK REPORT LEFT === */
.pl-sh-book-report-left p{
    font-size: 0.700rem;
}
.pl-sh-book-report-left img{
    max-width: 60px;
    max-height: 60px;
    border: 1px solid var(--light-black-op);
}
/* === BOOK REPORT MIDDDLE === */
.pl-sh-book-report-middle{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pl-sh-book-report-middle h1{
    font-size: 1.5rem;
    font-weight: 600;
}
/* === BOOK REPORT RIGHT === */
.pl-sh-book-report-right-items{
    text-align: right;
}
.pl-sh-book-report-right-items p{
    font-size: 0.900rem;
}
/* === EXPORT TO EXCEL === */
.pl-sh-export-excel{
    margin-left: 20px;
}
.pl-sh-export-excel button{
    padding: 8px 13px;
    border-radius: 3px;
    color: var(--white);
    border: none;
    background-color: var(--green);
}
/* === MANAGE SALE DETAILS SECTION === */
.pl-manage-sale-details-section{
    width: 100%;
    padding: 20px;
}
/* === TABLE === */
table{
    width: 100%;
    border-collapse: collapse;
}
th, td{
    padding: 10px;
    border: 1px solid var(--light-black-op);
}
table th{
    font-size: var(--secondary);
    font-weight: 500;
}
tbody tr:nth-child(2n+1){
    background-color: #F0F0F0;
}
.pl-particuler{
    width: 70%;
    text-align: left;
}
.amount{
    width: 30%;
    text-align: right;
}
.pl-income{
    width: 70%;
    text-align: left;
    color: var(--white);
    background-color: var(--green);
}
.pl-income-amount{
    width: 30%;
    text-align: right;
    color: var(--white);
    background-color: var(--green);
}
.pl-text-right{
    text-align: right;
}
.pl-sh-direct{
    padding-left: 40px;
}
.pl-sh-service{
    padding-left: 80px;
}
.pl-sh-service-discount{
    padding-left: 120px;
}
/* === SAVE BUTTON === */
.pl-sh-print-button button{
    padding: 7px 15px;
    margin-top: 10px;
    color: var(--white);
    background-color: var(--green);
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    border: none;
}
.pl-sh-print-button button:hover{
    background-color: var(--main-green);
}

