@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

table {
    width: 100%!important;
    border-collapse: collapse;
    /* padding: 0px 10px; */
}

th,
td {
    border: 1px solid var(--lt-black-op);
    padding: 10px 15px;
}

:root {
    --gray-white: #F0F1F2;
    --white: #FFFFFF;
    --black: #000000;
    --gray-black: #DDDDDD;
    --lt-black: #212523;
    --lt-black-op: #21252350;
    --m-green: #157343;
    --m-light: #37A000;
    --orange: #FD7E14;
    --green: #008000;
    --lt-green: #e9f6ec;
    --red: #FF0000;
    --lt-red: #fbeaec;
    /* === FONTS SIZE FOR HEADING === */
    --primary-head: 22px;
    --secondary-head: 1.125rem;
    --secondary: 1rem;
    --primary-para: 0.825rem;
}

.sh-addquo-container {
    width: 100%;
    padding: 20px 15px 20px 25px;
}
/* === FORM SECTION === */
.sh-addquo-form-section{
    width: 100%;
    display: flex;
    align-items: center!important;
    justify-content: space-between;
}
/* === FOMR CONTAINER === */
.sh-addquo-form-container{
    line-height: 2em;
    display: flex;
    flex-direction: column;
}
.sh-addquo-form-container input{
    font-size: var(--primary-para);
    width: 250px;
    padding: 5px 7px;
    border: none;
}
.sh-addquo-form-container input:focus{
    padding: 5px 7px;
    border: none;
    outline: 1px solid #2B51B0;
}
.sh-addquo-form-container label{
    font-size: var(--primary-para);
}
.sh-addquo-customer-container{
    display: flex;
    align-items: center;
}
.sh-addquo-add-from{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 10px;
    margin-top: 0px;
    background-color: var(--m-green);
}
input[type="number"], input[type="text"] {
    border-radius: 0    ;
}
.sh-addquo-add-from a{
    font-size: var(--primary-head);
    color: var(--white);
}
/* === SEARCH BAR === */
.sh-addquo-search-bar{
    margin-top: 20px;
}
.sh-addquo-search-bar input{
    width: 100%;
    padding: 7px;
    border: 1px solid #dcdfe3;
}
.sh-addquo-search-bar input:focus{
    outline: 1px solid #2B51B0;
}
/* === PRODUCT DETAILS === */
.sh-addquo-product-details{
    margin-top: 20px;
    margin-bottom: 100px;
    width: 100%;
}
/* product name input */
table thead tr th{
    font-size: var(--secondary-head);
    font-weight: 400;
}
tbody tr td{
    justify-items: center;
}
tbody tr td input{
    width: 260px;
    padding: 2px 4px;
    border: 1px solid var(--lt-black);
}
tbody tr td input:focus{
    outline: 1px solid #2B51B0;
}
tbody tr td .sh-addquo-av-input input{
    text-align: right;
    color: var(--black);
    width: 60px;
    border: none;
    padding: 3px;
    background-color: var(--gray-black);
}
tbody tr td .sh-addquo-warrenty-input input{
    text-align: right;
    color: var(--black);
    width: 150px;
    border: none;
    padding: 3px;
    background-color: var(--gray-black);
}
tbody tr td .sh-addquo-qty-input input{
    text-align: right;
    color: var(--black);
    width: 80px;
    border: none;
    padding: 3px;
    border: 1px solid var(--lt-black);
    background: none;
}
tbody tr td .sh-addquo-rate-input input{
    text-align: right;
    color: var(--black);
    width: 60px;
    border: none;
    padding: 3px;
    border: 1px solid var(--lt-black);
    background: none;
}
/* === DISCOUNT SECTION === */
.sh-addquo-discount{
    display: flex;
    /* gap: 0px; */
}
.sh-addquo-dis-lft-input input{
    width: 50px;
    border: 1px solid var(--lt-black);
    text-align: right;
    outline: none;
    margin-right: -1px;
}
.sh-addquo-dis-rgt-input input{
    background-color: var(--gray-black);
    width: 50px;
    text-align: right;
    border: 1px solid var(--lt-black);
    outline: none;
}
tbody tr td .sh-addquo-total-input input{
    text-align: right;
    color: var(--black);
    width: 100px;
    border: none;
    padding: 3px;
    background-color: var(--gray-black);
}
/* DELETE ICON === */
.sh-addquo-delete-icon{
    font-size: 1.25rem;
    padding: 8px 7px 6px 7px;
    color: var(--red);
    background-color: var(--lt-red);
    border: 1px solid var(--red);
}
.sh-addquo-delete-icon:hover{
    color: var(--white);
     background-color: var(--red);
}
/* === ITEM TOTAL CONTAINER === */
.sh-addquo-item-total-container{
    width: 100%;
}
.sh-addquo-total-lft-input input{
    width: 50px;
    border: 1px solid var(--lt-black);
    border-right: none;
    text-align: right;
}
.sh-addquo-total-rgt-input input{
    background-color: var(--gray-black);
    width: 30px;
    display: flex;
    text-align: center;
    align-items: center;
}
/* PLUS ICON === */
.sh-addquo-plus-icon a i{
    font-size: 1.25rem;
    padding: 5px 7px;
    color: var(--m-green);
    background-color: var(--lt-green);
    border: 1px solid var(--m-green);
}
.sh-addquo-plus-icon a i:hover{
    color: var(--white);
     background-color: var(--m-green);
}
/* net_payable */
.sh-addquo-net_payable > td:nth-child(2) {
    font-size: 0.875rem!important;
    font-weight: 600!important;
    color: var(--black)!important;
}
/* === FOOTER SECTION === */
.sh-addquo-footer-section{
    bottom: 0;
    right: 0;
    width: 100%;
    height: 110px;
    padding: 20px;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: var(--white);
    position: fixed;
}
.sh-addquo-total-vat{
    display: flex;
    flex-direction: column;
}
.sh-addquo-total-vat > input{
    padding: 7px 8px;
}
.sh-addquo-submit-container{
    display: flex;
    gap: 10px;
}
.sh-addquo-submit-container input{
    padding: 7px 8px;
}
.sh-addquo-submit-button{
    background-color: var(--m-green);
    padding: 3px 8px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sh-addquo-submit-button a{
    color: var(--white);
}