/* -- fonts -- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=VT323&display=swap');

/* -- root -- */

:root {
    --gray-white: #F0F1F2; /* For body*/
    --white: #FFFFFF;
    --black: #000000;
    --gray-black: #DDDDDD;
    --lt-black: #212523;
    --lt-black-op: #21252350;
    --main-green: #157343;
    --main-lt: #37A000;
    --orange: #FFA500;
    --orange-t: #FD7E14;
    --lt-orange: #FFECCC;
    --green: #008000;
    --lt-green: #e9f6ec;
    --red: #FF0000;
    --lt-red: #fbeaec;
    --blue: #0000FF;
    --lt-blue: #e6e6ff;
}

/* --universal style -- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

/* -- website app text selection cursor style */

::selection {
    color: var(--white);
    background-color: var(--main-light);
}

/* -- add new container style -- */

.cba-add-new-cus-container {
    padding: 20px 20px 20px 27px;
    width: 100%;
}

/* -- top menus style--  */

.cba-ancus-top-menus {
    background-color: var(--white);
    display: flex;
    justify-content: left;
    align-items: center;
    height: 60px;
    padding: 0px 40px;
    margin-bottom: 15px;
}

.cba-ancus-top-menus ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
    margin: 0;
    margin-left: -45px;
}

.cba-ancus-top-menus ul li a {
    text-decoration: none;
    color: var(--black);
    font-size: 15px;
    font-weight: 500;
}

/* -- active menu style -- */

.cba-ancus-active-menu {
    color: var(--white)!important;
    background-color: var(--main-green);
    padding: 8px 12px;
    border-radius: 5px;
}

/* -- menu hover style -- */

.cba-ancus-light-up:hover {
    color: var(--orange-t);
}

/* -- list container style -- */

.cba-ancus-add-container {
    background-color: var(--white);
    padding: 0px 20px;
}

/* -- heading-add-new-btn style -- */

.cba-ancus-heading-add-new-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--gray-black);
    padding: 20px 0px;
}

.cba-ancus-heading h2 {
    color: var(--light-black);
    font-size: 25px;
    font-weight: 500;
    margin: 0;
}

/* -- add-new-btn style -- */

.cba-ancus-cate-list-btn {
    display: flex;
    gap: 5px;
    justify-content: baseline;
    align-items: center;
}

.cba-ancus-cate-list-btn {
    background-color: var(--main-green);
    padding: 5px 10px;
    border-radius: 5px;
}

.cba-ancus-cate-list-btn a {
    color: var(--white);
    text-decoration: none;
}

.cba-ancus-add-icon {
    color: var(--white);
    font-size: 20px;
}

/* -- customer add field style -- */

/* -- label red star style -- */
.cba-ancus-required {
    color: var(--red);
}

.cba-ancus-category-add-field {
    width: 50%;
    padding-top: 30px;
    padding-bottom: 20px;
}

.cba-ancus-form-con {
    display: grid;
    gap: 20px;
    grid-template-columns: 25% 75%;
}

.cba-ancus-form-con .cba-ancus-label {
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.cba-ancus-form-con label {
    color: var(--light-black);
    font-size: 15px;
    font-weight: 500;
    margin-top: 12px;
    margin-bottom: 13px;
}

.cba-ancus-form-con input {
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.cba-ancus-input {
    width: 400px!important;
}

.cba-ancus-input > input {
    padding: 7.5px 10px;
    border: 1px solid var(--gray-black);
    border-radius: 5px;
    outline: none;
}

input[type="text"] {
    width: 100%;
    padding: 7.5px 10px;
    border: 1px solid var(--gray-black);
    border-radius: 5px;
    outline: none;
    margin-top: 0px;
    margin-bottom: 10px;
}

select {
    width: 100%;
    padding: 7.5px 10px;
    border: 1px solid var(--gray-black);
    border-radius: 5px;
    outline: none;
    appearance: none;
}

.cba-ancus-submit-btn {
    display: flex;
    justify-content: right;
    margin-top: 15px;
}

input[type="submit"] {
    background-color: var(--main-green);
    color: var(--white);
    border: none;
    width: 75px;
    border-radius: 5px;
    padding: 5px 10px 4px 10px;
    cursor: pointer;
}