@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    font-family: "Noto Sans", serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
}

.dashboard-container {
    width: 100%;
    padding: 20px 13px 20px 20px;
 
}

/* === DASHBOARD TOP TITLE === */
.dashboard-top-title {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboard-top-title h2 {
    font-size: 1.25rem;
    justify-content: flex-start;
    margin-bottom: 0;
}

/* === DASHBOARD TOP TITLE RIGHT ITMES === */
.dashboard-top-title-right-item-section {
    gap: 9px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

/* === BUTTONS === */
.dash-right-item-button {
    gap: 5px;
    padding: 10px;
    border-radius: 7px;
    color: var(--bs-gray);
    background-color: rgba(201, 201, 201, 0.365);
    display: flex;
}

.dash-right-item-button:hover {
    gap: 5px;
    padding: 10px;
    border-radius: 7px;
    color: var(--bs-light);
    background-color: var(--bs-green);
    display: flex;
}

/* === TOTAL REVIEWS ===  */
.total-reviews-section {
    gap: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* === REVIEW CONTAINER === */
.review-container {
    width: 400px;
    gap: 20px;
    padding: 20px 20px;
    border-radius: 6px;
    background-color: var(--bs-light);
    box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.222);
    display: flex;
    align-items: center;
    justify-content: start;
}

/* === REVIEW CONTAINER IMAGE === */
.review-container img {
    height: 50px;
}

.review-text {
    line-height: 2em;
}

.review-text p {
    font-size: 1rem;
}

.review-text h3 {
    font-size: 1.25rem;
}

/* === SALES AND INVENTORY GRAPH SECTION === */
.sales-and-inventory-graph-section {
    gap: 20px;
    margin-top: 50px;
    display: flex;
}

/* === SALES SECTION === */
.seles-section {
    width: 65%;
    border-radius: 10px;
    background-color: var(--bs-white);
    box-shadow: 2px 3px 15px rgba(128, 128, 128, 0.338);
}

.seles-section + hr {
    width: 100%;
    color: var(--bs-gray)!important;
}

.seles-text {
    height: 42px;
    padding: 30px 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.seles-text h1 {
    font-size: 0.90rem;
    color: var(--bs-gray-dark);
    margin-bottom: 0;
}

/* === CALENDAR === */
.sales-calendar {
    display: flex;
    gap: 5px;
    align-items: center;
}

.sales-calendar input {
    border: none;
}

.sales-calendar input:focus {
    outline: none;
}

/* === SALES MENU ICON === */
.sales-menu-icon {
    padding: 20px;
    margin-top: -16px;
    display: flex;
    align-items: end;
    justify-content: end;
}

/* === SALES GRAPH IMAGE === */
.sales-graph-image img {
    width: 99%;
    margin-top: -50px;
}

/* === INVENTORY SECTION === */
.inventory-section {
    width: 35%;
    border-radius: 10px;
    background-color: var(--bs-white);
    box-shadow: 2px 3px 15px rgba(128, 128, 128, 0.338);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* === INVENTORY TEXT === */
.inventory-text {
    height: 70px;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-between;
}

.inventory-text > h1 {
    width: 100%;
    display: block;
    font-size: .95rem;
    padding: 20px;
    margin-bottom: 0;
    color: var(--bs-gray-dark);
    border-bottom: 1px solid #d9dee3!important;
}

/* === INVENTORY BOTTOM ITEMS === */
.inventory-bottom-item-container {
    height: 65px;
    border-radius: 10px;
    gap: 20px;
    margin: 5px;
    margin-bottom: 20px;
    background-color: var(--bs-white);
    box-shadow: 2px 3px 15px rgba(128, 128, 128, 0.338);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* === AVAILABLE STOCK SECTION === */
.availabe-stock-section {
    gap: 10px;
    display: flex;
    align-items: center;
}

/* === CIRCLE === */
.circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--bs-green);
}

.circle-two {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--bs-primary);
}

.circle-three {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--bs-danger);
}

/* === TEXT === */
.available-text p {
    font-size: 1rem;
    color: var(--bs-gray-dark);
}

.available-text h1 {
    font-size: 1rem;
    color: var(--bs-gray-dark);
    margin-bottom: 0;
}

/* === MOST SELLING SECTION === */
.most-selling-section {
    width: 35%;
    border-radius: 10px;
    background-color: var(--bs-white);
    box-shadow: 2px 3px 15px rgba(128, 128, 128, 0.338);
}

.most-selling-item-container {
    gap: 2px;
    font-size: 1.25rem;
    color: var(--bs-white);
    display: flex;
    justify-content: space-between;
}

.item {
    width: 100%;
    padding: 5px 10px;
    background-color: var(--bs-green);
}
.item p{
    font-size: 16px; 
}
.price  {
    width: 100%;
    padding: 5px 10px;
    background-color: var(--bs-green);
}
.price p{
    font-size: 16px; 
}

.all-time {
    width: 100%;
    padding: 5px 10px;
    background-color: var(--bs-green);
}
.all-time p{
    font-size: 16px; 
}

/* === MOST SELLING TEXT === */
.most-selling-text {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.most-selling-text h1 {
    font-size: 0.95rem;
    color: var(--bs-gray-dark);
    margin-bottom: 0;
}

.most-selling-text a {
    font-size: 0.95rem;
    padding: 7px;
    border-radius: 5px;
    color: var(--bs-gray-dark);
    background-color: rgba(128, 128, 128, 0.16);
}

/* === FINANCIAL SECTION === */
.financial-section {
    margin-top: 50px;
    border-radius: 10px;
    background-color: var(--bs-white);
    box-shadow: 2px 3px 15px rgba(128, 128, 128, 0.338);
}

/* === FINANCIAL TEXT === */
.financial-text {
    font-size: 1.25rem;
    color: var(--bs-gray-dark);
    height: 80px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.financial-text h1{
    font-size: 0.95rem;
}
.financial-calendar-container {
    gap: 5px;
    display: flex;
    align-items: center;
}

.financial-calendar-container input {
    border: none;
    height: 22.95px!important;
    width: 143px!important;
    font-size: 0.9rem;
}
.financial-calendar-container input:focus {
    outline: none;
}

/* === FINANCIAL ICONS === */
.financial-icons {
    padding: 0px 20px 12.5px;
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: end;
}
.financial-icons img {
    height: 18px;
    width: 18px;
}

.financial-graph-image img {
    padding: 10px;
    width: 100%;
    margin-top: -40px;
}

/* === RESPONSIVE FOR MOBILEV === */
@media(max-width: 768px) {
    nav {
        padding: 5px;
    }

    .dashboard-top-title {
        line-height: 2em;
        display: flex;
        flex-direction: column;
    }

    .dash-right-item-button p {
        font-size: 14px;
    }

    .total-reviews-section {
        padding: 0;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    .review-container {
        width: 100%;
    }

    .sales-and-inventory-graph-section {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
    }

    .seles-section {
        width: 100%;
    }

    .seles-text {
        display: flex;
        flex-direction: column;
        height: 60px;
        padding: 10px;
    }

    .seles-text h1 {
        font-size: 1rem;
    }

    .sales-menu-icon {
        margin-top: -20px;
    }

    .sales-graph-image img {
        margin-top: -30px;
    }

    .inventory-section {
        width: 100%;
        height: 50vh;
    }

    .inventory-bottom-item-container {
        margin-bottom: 15px;
    }

    .availabe-stock-section {
        gap: 5px;
    }
    .circle {
        width: 10px;
        height: 10px;
        border-radius: 50%;
    }
    
    .circle-two {
        width: 10px;
        height: 10px;
        border-radius: 50%;
    }
    
    .circle-three {
        width: 10px;
        height: 10px;
        border-radius: 50%;
    }
    .most-selling-section{
        width: 100%;
        height: 50vh;
    }
    .most-selling-item-container{
        font-size: 1rem;
    }
    .financial-section{
        margin-top: 30px;
    }
    .financial-text{
        padding: 10px;
        display: flex;
        flex-direction: column;
    }
    .financial-icons{
        margin-top: -10px;
    }
    .financial-icons img {
        width: 15px;
    }
    .financial-graph-image img{
        margin-top: -25px;
    }
}
