/* -- fonts -- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=VT323&display=swap');

/* -- root -- */

:root {
    --gray-white: #F0F1F2;
    --white: #FFFFFF;
    --black: #000000;
    --gray-black: #DDDDDD;
    --lt-black: #212523;
    --lt-black-op: #21252350;
    --m-green: #157343;
    --m-lt: #37A000;
    --orange: #FD7E14;
    --lt-orange: #fee3cd;
    --green: #008000;
    --lt-green: #e9f6ec;
    --red: #FF0000;
    --lt-red: #fbeaec;
    --blue: #0000ff;
    --lt-blue: #e6e6ff;
}

/* ---------- */
a {
    text-decoration: none;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

::selection {
    color: var(--white);
    background-color: var(--m-light);
}

/* -- category container style -- */

.cba-delivery-container {
    width: 100%;
}

.cba-delivery-list-container {
    margin: 30px 30px 500px 40px;
}

/* -- list container style -- */

.cba-delivery-list-container {
    background-color: var(--white);
    padding: 20px 20px 10px;
}

/* -- heading-add-new-btn style -- */

.cba-delivery-heading-add-new-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--gray-black) ;
}

.cba-delivery-heading h2 {
    color: var(--lt-black);
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 0;
}

/* -- add-new-btn style -- */

.cba-delivery-add-new-btn {
    display: flex;
    gap: 5px;
    justify-content: baseline;
    align-items: center;
    background-color: var(--m-green);
    padding: 5px 10px 5px;
    border-radius: 5px;
}

.cba-delivery-add-new-btn a {
    color: var(--white);
    text-decoration: none;
    margin-top: 2px;
}

.cba-delivery-add-icon {
    color: var(--white);
    font-size: 1.2rem;
}

/* -- list-short-dpdwn-search-box style -- */

.cba-delivery-list-short-dpdwn-search-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

/* -- list-short-dpdwn style -- */

.cba-delivery-list-short-dpdwn {
    display: flex;
    gap: 7.5px;
    align-items: center;
}

.cba-delivery-list-short-dpdwn h3 {
    color: var(--lt-black);
    font-size: 0.875rem;
    font-weight: 500;
    margin-bottom: 0;
}

.cba-delivery-list-short-dpdwn select {
    color: var(--lt-black);
    appearance: none;
    height: 35px;
    width: 40px;
    outline: none;
    border-radius: 2.5px;
}

/* -- search-box style -- */

.cba-delivery-search-box {
    display: flex;
    gap: 10px;
    align-items: center;
}

.cba-delivery-search-box > legend {
    color: var(--lt-black);
    font-size: 1rem;
    width: 80px;
    margin-top: 3px;
    margin-bottom: 0;
}

.cba-delivery-search-box > input {
    outline: none;
    width: 100%;
    padding: 5px 0px!important;
    border: 1px solid var(--gray-black);
    border-radius: 2.5px!important;
    margin-bottom: 0;
}

/* -- table-list style --*/

.cba-delivery-table-list > table {
    border-collapse: collapse;
    width: 100%;
}

/* -- thead style -- */

.cba-delivery-table-list > table > thead > tr {
    background-color: var(--gray-black)!important;
}

/* -- tbody style -- */

.cba-delivery-table-list > table > tbody > tr:hover {
    background-color: var(--gray-white)!important;
}

/* -- tfoot style -- */

.cba-delivery-table-list > tfoot > tr > td {
    background-color: var(--gray-black)!important;
    font-size: 0.875rem!important;
    font-weight: 400!important;
}

/* -------------------------------------- */

/* payment status style */

.cba-delivery-ps-paid {
    color: var(--green);
    background-color: var(--lt-green);
    font-size: 12px;
    font-weight: 500;
    padding: 2.5px 7.5px;
    border-radius: 5px;
}

.cba-delivery-ps-cod {
    color: var(--orange);
    background-color: var(--lt-orange)!important;
    font-size: 12px;
    font-weight: 500;
    padding: 2.5px 7.5px;
    border-radius: 5px;
}

/* delivery status style */

.cba-delivery-ds-ocon {
    color: var(--blue);
    background-color: var(--lt-blue);
    font-size: 12px;
    font-weight: 500;
    padding: 2.5px 7.5px;
    border-radius: 5px;
}

.cba-delivery-ds-otw {
    color: var(--orange);
    background-color: var(--lt-orange);
    font-size: 12px;
    font-weight: 500;
    padding: 2.5px 7.5px;
    border-radius: 5px;
}

.cba-delivery-ds-deld {
    color: var(--green);
    background-color: var(--lt-green);
    font-size: 12px;
    font-weight: 500;
    padding: 2.5px 7.5px;
    border-radius: 5px;
}

/* -- action style -- */

.cba-delivery-edit-icon {
    color: var(--green);
    background-color: var(--lt-green);
    padding: 7px 7px;
    margin-right: 2.5px;
    border: 1px solid var(--green);
    font-size: 20px;
}

.cba-delivery-edit-icon:hover {
    background-color: var(--lt-black-op);
}

.cba-delivery-delete-icon {
    color: var(--red);
    background-color: var(--lt-red);
    padding: 7px 7px;
    margin-left: 2.5px;
    border: 1px solid var(--red);
    font-size: 20px;
}

.cba-delivery-delete-icon:hover {
    background-color: var(--lt-black-op);
}

/* -- entries-details-list-page-btn style -- */

.cba-delivery-entries-details-list-page-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px 5px;
}

.cba-delivery-entries-details > p {
    color: var(--black);
    font-size: 0.875rem;
    font-weight: 400;
    margin-bottom: 0;
}

.cba-delivery-list-page-btn {
    display: flex;
    gap: 5px;
    align-items: center;
}

.cba-delivery-list-page-btn > button {
    color: var(--lt-black);
    background-color: var(--gray-white);
    padding: 7px 10px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cba-delivery-list-page-btn > h4 {
    color: var(--white)!important;
    background-color: var(--m-lt);
    font-size: 15px;
    font-weight: 400;
    padding: 9px 12px;
    border-radius: 5px;
    margin-bottom: 0;
}