@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

:root {
    --gray-white: #F0F1F2;
    --white: #FFFFFF;
    --black: #000000;
    --gray-black: #DDDDDD;
    --lt-black: #212523;
    --lt-black-op: #21252350;
    --m-green: #157343;
    --main-lt: #37A000;
    --orange: #FD7E14;
    --green: #008000;
    --lt-green: #e9f6ec;
    --red: #FF0000;
    --lt-red: #fbeaec;
    --blue: #0000ff;
    --lt-blue: #e6e6ff;
    /* === FONTS SIZE FOR HEADING === */
    --primary-head: 22px;
    --secondary-head: 1.125rem;
    --secondary: 1rem;
    --primary-para: 0.825rem;
}

/* main  container styling */

.cba-possale-inner-con-top-part {
    padding: 25px 20px 25px 30px;
    margin-top: 25px;
    margin-bottom: 190px;
    background-color: var(--white);
    width: 100%;
}

@media (max-width: 1536px) {
    .cba-possale-inner-con-top-part {
        margin-bottom: 55px;
        padding: 25px 15px 25px 28px;
    }
}

/* Top Part Style */

.cba-possale-inner-con-top-part {
    width: 100%;
}

/* inner con row 1 */

.cba-possale-ictp-row1 {
    display: flex;
    gap: 25px;
    flex-direction: row;
    width: 100%;
    padding-bottom: 15px;
}

/* col 1 */
.cba-possale-ictp-row1-col1 {
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 20%;
}
/* row 1 */

.cba-possale-ictp-row1-col1 > .cba-possale-ictp-row1-col1-row1-inputbox {
    display: flex;
    gap: 10px;
    align-items: center;
}

.cba-possale-ictp-row1-col1 > .cba-possale-ictp-row1-col1-row1-inputbox > label {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--black);
    white-space: nowrap;
    margin-top: 2.5px;
}

.cba-possale-ictp-row1-col1 > .cba-possale-ictp-row1-col1-row1-inputbox > div > select {
    width: 233px;
    padding: 7px 10px 5px 10px;
    border: 1px solid var(--gray-black);
    border-radius: 2.5px;
    outline: none;
    cursor: pointer;
}

/* row 2 */
.cba-possale-ictp-row1-col1 > .cba-possale-ictp-row1-col1-row2-inputbox {
    display: flex;
    gap: 29px;
    align-items: center;
    margin-bottom: -10px!important;
}

.cba-possale-ictp-row1-col1 > .cba-possale-ictp-row1-col1-row2-inputbox > label {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--black);
    white-space: nowrap;
    margin-top: -5px;
}

.cba-possale-ictp-row1-col1 > .cba-possale-ictp-row1-col1-row2-inputbox > input {
    padding: 7px 10px 5px 10px;
    border: 1px solid var(--gray-black);
    text-align: left;
    border-radius: 2.5px;
    outline: none;
}

/* row 3 */
.cba-possale-ictp-row1-col1 > .cba-possale-ictp-row1-col1-row3-inputbox {
    display: flex;
    gap: 15px;
    align-items: center;
}

.cba-possale-ictp-row1-col1 > .cba-possale-ictp-row1-col1-row3-inputbox > label {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--black);
    white-space: nowrap;
    margin-top: -14px;
}

.cba-possale-ictp-row1-col1 > .cba-possale-ictp-row1-col1-row3-inputbox > div > input {
    width: 232px;
    padding: 7px 10px 5px 10px;
    border: 1px solid var(--gray-black);
    text-align: left;
    border-radius: 2.5px;
    outline: none;
}

.cba-possale-ictp-row1-col1 > .cba-possale-ictp-row1-col1-row3-inputbox > div > p {
    font-size: 0.75rem;
    font-weight: 400;
    color: var(--black);
    white-space: nowrap;
    margin-top: -7.5px;
}

@media (max-width: 1536px) {
    /* col 1 - row 1 */
    .cba-possale-ictp-row1-col1 > .cba-possale-ictp-row1-col1-row1-inputbox > div > select {
        width: 157px;
    }
    .cba-possale-ictp-row1-col1 > .cba-possale-ictp-row1-col1-row3-inputbox > div > p {
        font-size: 0.65rem;
    }

    /* col 1 - row 3 */
    .cba-possale-ictp-row1-col1 > .cba-possale-ictp-row1-col1-row3-inputbox > div > input {
        width: 157px;
    }
}

/* col 2 */
.cba-possale-ictp-row1-col2 {
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 20%;
}
/* row 1 */

.cba-possale-ictp-row1-col2 > .cba-possale-ictp-row1-col2-row1-inputbox {
    display: flex;
    gap: 20px;
    align-items: center;
}

.cba-possale-ictp-row1-col2 > .cba-possale-ictp-row1-col2-row1-inputbox > label {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--black);
    white-space: nowrap;
}

.cba-possale-ictp-row1-col2 > .cba-possale-ictp-row1-col2-row1-inputbox > input {
    padding: 7px 10px 5px 10px;
    border: 1px solid var(--gray-black);
    border-radius: 2.5px;
    outline: none;
    text-align: left;
    cursor: pointer;
}

/* row 2 */
.cba-possale-ictp-row1-col2 > .cba-possale-ictp-row1-col2-row2-inputbox {
    display: flex;
    gap: 10px;
    align-items: center;
}

.cba-possale-ictp-row1-col2 > .cba-possale-ictp-row1-col2-row2-inputbox > label {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--black);
    white-space: nowrap;
}

.cba-possale-ictp-row1-col2 > .cba-possale-ictp-row1-col2-row2-inputbox > select {
    padding: 7px 10px 5px 10px;
    border: 1px solid var(--gray-black);
    border-radius: 2.5px;
    outline: none;
    cursor: pointer;
}

/* col 3 */

.cba-possale-ictp-row1-col3 {
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 20%;
}

.cba-possale-ictp-row1-col3 > .cba-possale-ictp-row1-col3-inputbox {
    display: flex;
    gap: 10px;
    align-items: center;
}

.cba-possale-ictp-row1-col3 > .cba-possale-ictp-row1-col3-inputbox > label {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--black);
    white-space: nowrap;
}

.cba-possale-ictp-row1-col3 > .cba-possale-ictp-row1-col3-inputbox > select {
    padding: 7px 10px 5px 10px;
    border: 1px solid var(--gray-black);
    border-radius: 2.5px;
    outline: none;
    cursor: pointer;
}

/* col 4 */

.cba-possale-ictp-row1-col4 {
    display: flex;
    gap: 7.5px;
    flex-direction: column;
    width: 10%;
}

.cba-possale-ictp-row1-col4 > .cba-possale-ictp-row1-col4-radiobox {
    display: flex;
    gap: 15px;
    align-items: center;
}

.cba-possale-ictp-row1-col4 > .cba-possale-ictp-row1-col4-radiobox > input {
    width: 12.5px;
    height: 12.5px;
    border: 1px solid var(--gray-black);
    border-radius: 50%;
    accent-color: var(--m-green);
    outline: none;
    cursor: pointer;
}

.cba-possale-ictp-row1-col4 > .cba-possale-ictp-row1-col4-radiobox > label {
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--black);
    cursor: pointer;
}

/* col 5 */

.cba-possale-ictp-row1-col5 {
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 25%;
}

.cba-possale-ictp-row1-col5 > textarea {
    height: 130px!important;
    width: 100%;
    padding-inline-start: 10px;
    padding-top: 5px;
    resize: vertical;
    border: 1px solid var(--gray-black);
}


/* Middle One Part */

.cba-possale-ictp-row2 {
    margin-bottom: -15px!important;
}

.cba-possale-ictp-row2 > input {
    width: 100%;
    padding: 5px 0px;
    border: 1px solid var(--gray-black);
    border-radius: 2.5px;
    outline: none;
    text-align: left;
    padding-inline-start: 10px;
    font-size: 0.875rem;
}

/* Middle Two Part */

/* Table Style */

.cba-possale-ictp-row3 > table {
    width: 100%;
    border-collapse: collapse;
}

/* table head */

.cba-possale-ictp-row3 > table  > thead > tr > th {
    background-color: var(--gray-white);
    color: var(--black);
    font-size: 0.875rem;
    font-weight: 600!important;
    text-align: center!important;
    padding: 10px 0;
    border: 1px solid var(--gray-black);
}

/* table body */

.cba-possale-ictp-row3 > table  > tbody > tr > td {
    background-color: var(--white);
    color: var(--black);
    font-size: 0.875rem;
    font-weight: 600!important;
    text-align: center!important;
    padding: 10px 10px 0px;
    border: 1px solid var(--gray-black);
}

/* row 1 */

/* Items Details Row Styling */

.cba-possale-ictp-row3 > table  > tbody > tr:nth-child(1) > td:nth-child(1) {
    width: 750px;
}

@media (max-width: 1536px) {
    .cba-possale-ictp-row3 > table  > tbody > tr:nth-child(1) > td:nth-child(1) {
        width: 450px;
    }
}

.cba-possale-ictp-row3 > table  > tbody > tr:nth-child(1) > td:nth-child(1) > input {
    width: 100%;
    padding: 5px 0px;
    border: 1px solid var(--gray-black);
    border-radius: 2.5px;
    outline: none;
    text-align: left;
    padding-inline-start: 10px;
}

.cba-possale-ictp-row3 > table  > tbody > tr:nth-child(1) > td:nth-child(2) > input {
    width: 100%;
    padding: 5px 0px;
    border: 1px solid var(--gray-black);
    background-color: var(--gray-black);
    border-radius: 2.5px;
    outline: none;
    text-align: right;
    padding-inline-end: 10px;
}

.cba-possale-ictp-row3 > table  > tbody > tr:nth-child(1) > td:nth-child(3) > input {
    width: 100%;
    padding: 5px 0px;
    border: 1px solid var(--gray-black);
    background-color: var(--gray-black);
    border-radius: 2.5px;
    outline: none;
    text-align: right;
    padding-inline-end: 10px;
}

.cba-possale-ictp-row3 > table  > tbody > tr:nth-child(1) > td:nth-child(4) > input {
    width: 100%;
    padding: 5px 0px;
    border: 1px solid var(--gray-black);
    border-radius: 2.5px;
    outline: none;
    text-align: right;
    padding-inline-end: 10px;
}

.cba-possale-ictp-row3 > table  > tbody > tr:nth-child(1) > td:nth-child(5) > input {
    width: 100%;
    padding: 5px 0px;
    border: 1px solid var(--gray-black);
    border-radius: 2.5px;
    outline: none;
    text-align: right;
    padding-inline-end: 10px;
}

.cba-possale-ictp-row3 > table  > tbody > tr:nth-child(1) > td:nth-child(6) > div {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--black);
}

.cba-possale-ictp-row3 > table  > tbody > tr:nth-child(1) > td:nth-child(6) > div > input {
    width: 100%;
    padding: 5px 0px;
    border: 1px solid var(--gray-black);
    border-top-left-radius: 2.5px;
    border-bottom-left-radius: 2.5px;
    outline: none;
    text-align: right;
    padding-inline-end: 10px;
}

.cba-possale-ictp-row3 > table  > tbody > tr:nth-child(1) > td:nth-child(6) > div > span {
    color: var(--black);
    background-color: var(--gray-black);
    border-top-right-radius: 2.5px;
    border-bottom-right-radius: 2.5px;
    padding: 6px 7.5px 6px 15px;
    margin-top: -10px;
}

.cba-possale-ictp-row3 > table  > tbody > tr:nth-child(1) > td:nth-child(7) > div {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--black);
}

.cba-possale-ictp-row3 > table  > tbody > tr:nth-child(1) > td:nth-child(7) > div > input {
    width: 100%;
    padding: 5px 0px;
    border: 1px solid var(--gray-black);
    border-top-left-radius: 2.5px;
    border-bottom-left-radius: 2.5px;
    outline: none;
    text-align: right;
    padding-inline-end: 10px;
}

.cba-possale-ictp-row3 > table  > tbody > tr:nth-child(1) > td:nth-child(7) > div > span {
    color: var(--black);
    background-color: var(--gray-black);
    border-top-right-radius: 2.5px;
    border-bottom-right-radius: 2.5px;
    padding: 6px 7.5px 6px 15px;
    margin-top: -10px;
}

.cba-possale-ictp-row3 > table  > tbody > tr:nth-child(1) > td:nth-child(8) > input {
    width: 100%;
    padding: 5px 0px;
    border: 1px solid var(--gray-black);
    background-color: var(--gray-black);
    border-radius: 2.5px;
    outline: none;
    text-align: right;
    padding-inline-end: 10px; 
}

.cba-possale-ictp-row3 > table  > tbody > tr:nth-child(1) > td:nth-child(9) > i.cba-possale-icmt-table-minus-icon {
    color: var(--white);
    background-color: var(--red);
    padding: 8px 8px 6px 8px;
    border-radius: 2.5px;
    font-size: 1.5rem;
    margin-top: -10px;
    cursor: pointer;
}

/* row 2 */
/* Items Total Price row styling */

.cba-possale-ictp-row3 > table  > tbody > tr:nth-child(2) > td:nth-child(1) {
    text-align: right!important;
    padding-left: 25px;
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--black);
    background-color: var(--white);
}

.cba-possale-ictp-row3 > table  > tbody > tr:nth-child(2) > td:nth-child(2) > input {
    width: 100%;
    padding: 5px 0px;
    border: 1px solid var(--gray-black);
    background-color: var(--gray-black);
    border-radius: 2.5px;
    outline: none;
    text-align: right;
    padding-inline-end: 10px; 
}

.cba-possale-ictp-row3 > table  > tbody > tr:nth-child(2) > td:nth-child(3) > i.cba-possale-icmt-table-plus-icon {
    color: var(--white);
    background-color: var(--blue);
    padding: 8px 8px 6px 8px;
    border-radius: 2.5px;
    font-size: 1.5rem;
    margin-top: -10px;
    cursor: pointer;
}

/* row 3 */
/* Items Discount Show row styling */

.cba-possale-ictp-row3 > table  > tbody > tr:nth-child(3) > td:nth-child(1) {
    text-align: right!important;
}

.cba-possale-ictp-row3 > table  > tbody > tr:nth-child(3) > td:nth-child(1) > button {
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--white);
    background-color: var(--m-green);
    border: 1px solid var(--gray-black);
    border-radius: 2.5px!important;
    padding: 6px 10px 6px 10px;
    margin-top: -10px;
    cursor: pointer;
}

.cba-possale-ictp-row3 > table  > tbody > tr:nth-child(3) > td:nth-child(2) > div {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--black);
}

.cba-possale-ictp-row3 > table  > tbody > tr:nth-child(3) > td:nth-child(2) > div > input {
    width: 100%;
    padding: 5px 0px;
    border: 1px solid var(--gray-black);
    border-top-left-radius: 2.5px;
    border-bottom-left-radius: 2.5px;
    outline: none;
    text-align: right;
    padding-inline-end: 10px;
}

.cba-possale-ictp-row3 > table  > tbody > tr:nth-child(3) > td:nth-child(2) > div > span {
    color: var(--black);
    background-color: var(--gray-black);
    border-top-right-radius: 2.5px;
    border-bottom-right-radius: 2.5px;
    padding: 6px 10px 6px 15px;
    margin-top: -10px;
}

/* row 4 */
/* Items VAT Show row styling */

.cba-possale-ictp-row3 > table  > tbody > tr:nth-child(4) > td:nth-child(1) {
    text-align: right!important;
}

.cba-possale-ictp-row3 > table  > tbody > tr:nth-child(4) > td:nth-child(2) > div {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--black);
    margin-bottom: 10px;
}

.cba-possale-ictp-row3 > table  > tbody > tr:nth-child(4) > td:nth-child(2) > div > select {
    width: 100%;
    padding: 9.5px 5px 6px;
    font-size: 0.65rem!important;
    font-weight: 500;
    color: var(--black);
    border: 1px solid var(--gray-black);
    border-top-left-radius: 2.5px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 2.5px;
    border-bottom-right-radius: 0px;
    outline: none;
}

.cba-possale-ictp-row3 > table  > tbody > tr:nth-child(4) > td:nth-child(2) > div > span {
    color: var(--black);
    background-color: var(--gray-black);
    border-top-right-radius: 2.5px;
    border-bottom-right-radius: 2.5px;
    padding: 6px 10px 6px 15px;
    /* margin-top: -10px; */
}

/* row 11 */
/* Net Total Show row styling */

.cba-possale-ictp-row3 > table  > tbody > tr:nth-child(5) > td:nth-child(1) {
    text-align: right!important;
    padding-left: 25px;
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--black);
    background-color: var(--white);
}

.cba-possale-ictp-row3 > table  > tbody > tr:nth-child(5) > td:nth-child(2) > input {
    width: 100%;
    padding: 5px 0px;
    border: 1px solid var(--gray-black);
    background-color: var(--gray-black);
    border-radius: 2.5px;
    outline: none;
    text-align: right;
    padding-inline-end: 10px; 
}


/* ------------------------------------------------------------------------------ */

/* Bottom Part Style */

.cba-possale-inner-con-bottom-part {
    background-color: var(--white);
    bottom: 0;
    left: 0;
    position: fixed!important;
    right: 0;
    width: 100%;
}

.cba-possale-inner-con-bottom-part > .cba-pic-bp-calculation-overview {
    display: flex;
    gap: 10px;
    justify-content: end;
    align-items: center;
    padding: 15px 25px 5px 25px;
}

.cba-pic-bp-co-total-discount-con ,
.cba-pic-bp-co-total-vat-con ,
.cba-pic-bp-co-previous-due-con,
.cba-pic-bp-co-net-total-con,
.cba-pic-bp-co-current-due-con {
    display: flex;
    flex-direction: column;
    justify-content:right ;
    text-align: right;
    width: 10%;
}

/* Label and Input Styling */

/* Label Styling */

.cba-pic-bp-co-total-discount-con > label {
    color: var(--black);
    font-size: 0.875rem;
    font-weight: 600;
}

.cba-pic-bp-co-total-vat-con > label {
    color: var(--black);
    font-size: 0.875rem;
    font-weight: 600;
}
.cba-pic-bp-co-previous-due-con > label {
    color: var(--black);
    font-size: 0.875rem;
    font-weight: 600;
}
.cba-pic-bp-co-net-total-con > label {
    color: var(--black);
    font-size: 0.875rem;
    font-weight: 600;
}
.cba-pic-bp-co-current-due-con > label {
    color: var(--black);
    font-size: 0.875rem;
    font-weight: 600;
}

/* Input Style */ /* todo: All the text input are disabled by attribute*/

.cba-pic-bp-calculation-overview > div > input {
    width: 100%;
    padding: 5px 10px 5px;
    background-color: var(--gray-black);
    border-radius: 2.5px;
}

/* Placeholder Style */

.cba-pic-bp-calculation-overview > div > input::placeholder {
    text-align: right!important;
    color: var(--black);
    font-size: 0.875rem;
    font-weight: 600;
}

/* submit btn styling */

.cba-pic-bp-co-submit-btn-con > input {
    color: var(--white)!important;
    background-color: var(--m-green)!important;
    border-radius: 2.5px;
    font-size: 0.875rem;
    font-weight: 500;
    padding: 7px 12px 7px!important;
    margin-top: 10px;
    cursor: pointer!important;
}