@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    padding: 0px 10px;
}

th,
td {
    border: 1px solid var(--lt-black);
    padding: 10px 15px;
}

:root {
    --gray-white: #F0F1F2;
    --white: #FFFFFF;
    --black: #000000;
    --gray-black: #DDDDDD;
    --lt-black: #212523;
    --lt-black-op: #21252350;
    --m-green: #157343;
    --m-lt: #37A000;
    --orange: #FD7E14;
    --green: #008000;
    --lt-green: #e9f6ec;
    --red: #FF0000;
    --lt-red: #fbeaec;
    /* === FONTS SIZE FOR HEADING === */
    --primary-head: 22px;
    --secondary-head: 1.125rem;
    --secondary: 1rem;
    --primary-para: 0.825rem;
}

/* === TOP SECTION === */
.sh-quo-top-section {
    gap: 25px;
    height: 60px;
    padding-left: 15px;
    margin: 20px 20px 30px 26px;
    font-size: 1rem;
    border: 1px solid #F0F1F2;
    background-color: var(--white);
    display: flex;
    align-items: center;
    position: sticky;
    top: 94px;
    z-index: 21;
}

.sh-quo-top-section a {
    font-size: var(--secondary-head);
    color: var(--black);
}

.sh-quo-top-section > div:nth-child(2) > .sh-quo-nav-light-up:hover {
    color: var(--orange)!important;
}

.sh-quo-quotation-list a {
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--white);
    background: var(--m-green);
}

.sh-quo-quotation-list a:hover {
    color: var(--white);
}

.sh-quo-add-icon, .sh-quo-filter-icon {
    font-size: 1rem;
    padding-right: 5px;
    color: var(--white);
}

/* === RESPONSIVE FOR MOBILE === */
@media(max-width: 768px) {
    .sh-quo-top-section {
        gap: 30px;
        height: 60px;
        padding-left: 10px;
        margin: 2px;
    }
}

/* === QUOTATION LIST SECTION === */
.sh-quo-quotation-list-section {
    position: sticky;
    margin: -7.5px 22px 10px 27.5px;
    box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.1);
    background-color: var(--white);
}

/* === quotation-container === */
.sh-quo-quotation-container {
    height: 50px;
    padding: 30px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sh-quo-quotation-container p {
    font-size: var(--secondary-head);
}

.sh-quo-quotation-right-container ul {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 0;
}

.sh-quo-quotation-right-container ul li {
    padding: 5px 10px;
    border-radius: 5px;
    background: var(--m-green);
    display: flex;
    align-items: center;
}

.sh-quo-quotation-right-container ul li a {
    font-size: var(--primary-para);
    color: var(--white);
}

.sh-quo-quotation-right-container ul li img {
    width: 25px;
}

/* === QUOTATION SECOND SECTION === */
.sh-quo-quotation-second-section {
    height: 60px;
    padding: 20px;
    display: flex;
    align-items: center!important;
    justify-content: space-between;
    z-index: 12;
}

.sh-quo-show-container {
    gap: 5px;
    display: flex;
    align-items: center;
}
.sh-quo-show-container select {
    padding: 7px 8px 5px 10px;
    font-size: var(--primary-para);
}
.sh-quo-show-container p{
    font-size: var(--primary-para);
}
.sh-quo-download-file-container ul {
    padding-left: 10px;
    border-radius: 3px;
    color: var(--white);
    display: flex;
    gap: 10px;
    align-items: center;
}

.sh-quo-download-file-container > ul > li {
    padding: 5px!important;
    gap: 2.5px;
    background: var(--m-green);
    border-radius: 5px!important;
    display: flex;
    align-items: center;
}

.sh-quo-download-file-container ul li i {
    font-size: var(--primary-para);
}

.sh-quo-download-file-container ul li a {
    color: var(--white);
    font-size: var(--primary-para);
}

.sh-quo-search-container input {
    width: 200px!important;
    padding: 3px;
    font-size: var(--primary-para);
    margin-left: 7px;
}

/* === TABLE SECTION === */
.sh-quo-table-section {
    margin: 20px;
}
table > tbody > tr {
    background-color: var(--white)!important;
}
table > tbody > tr:hover {
    background-color: var(--gray-black)!important;
}
table thead tr th{
    font-size: var(--secondary);
    font-weight: 450!important;
}
table tbody tr td{
    font-size: var(--primary-para);
}
table tbody tr td p {
    display: flex;
    align-items: center;
    justify-content: center;
}

table tbody tr td {
    text-align: center;
}

/* ==== EDIT CONTAINER === */
.sh-quo-editabe-container {
    gap: 5px!important;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* === EDIT ICON === */
.sh-quo-edit-icon {
    padding: 5px;
    border-radius: 2px;
    color: var(--m-green);
    border: 1px solid var(--m-green);
    background-color: var(--lt-green);
}

.sh-quo-edit-icon:hover {
    padding: 5px;
    border-radius: 2px;
    color: var(--white);
    border: 1px solid var(--m-green);
    background-color: var(--m-green);
}

/* === DELETE ICON === */
.sh-quo-delete-icon {
    padding: 5px;
    border-radius: 2px;
    color: var(--red)!important;
    border: 1px solid var(--red)!important;
    background-color: var(--lt-red)!important;
}

.sh-quo-delete-icon:hover {
    color: var(--white)!important;
    background-color: var(--red)!important;
}

/* === ACTIVE WORK === */
table > tbody > tr > td > .sh-quo-active {
    background-color: var(--lt-green);
    color: var(--m-green);
    font-size: 0.7rem;
    padding: 2px 5px;
    border-radius: 5px;
}

/* === DEACTIVE WORK === */
table > tbody > tr > td > .sh-quo-deactive {
    background-color: var(--lt-red);
    color: var(--red);
    font-size: 0.7rem;
    padding: 2px 5px;
    border-radius: 5px;
}
/* tfoot */
table > tfoot > tr > .sh-quo-tfoot {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--black)!important;
    background-color: var(--gray-black);
}
/* === SLIDE PAGES === */
.sh-quo-slider-pages {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sh-quo-slide-right-item {
    gap: 10px;
    display: flex;
    align-items: center;
}

.sh-quo-slide-right-item a {
    padding: 6px 10px;
    border-radius: 5px;
    color: var(--black);
    background-color: var(--gray-black);
}

.sh-quo-slide-right-item > .sh-quo-page-numberr {
    margin: 0px 0px 0px ;
    padding: 6px 15px;
    border-radius: 5px;
    font-size: 0.9rem;
    color: var(--white)!important;
    background-color: var(--m-lt)!important;
}

p {
    margin-bottom: 0;
}