@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

:root {
    --gray-white: #F0F1F2;
    --white: #FFFFFF;
    --black: #000000;
    --gray-black: #DDDDDD;
    --lt-black: #212523;
    --lt-black-op: #21252350;
    --m-green: #157343;
    --m-lt: #37A000;
    --orange: #FD7E14;
    --green: #008000;
    --lt-green: #e9f6ec;
    --red: #FF0000;
    --lt-red: #fbeaec;
    /* === FONTS SIZE FOR HEADING === */
    --primary-head: 22px;
    --secondary-head: 1.125rem;
    --secondary: 1rem;
    --primary-para: 0.825rem;
}


/* -- container style -- */

.cba-salereturn-container {
    width: 100%;
    padding: 30px 20px 30px 28px;
}

/* -- top menus style */

.cba-salereturn-top-menus {
    background-color: var(--white);
    padding: 20px 20px 5px 0px;
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 30px;
}

.cba-salereturn-top-menus > ul {
    list-style-type: none;
    display: flex;
    gap: 25px;
    margin-left: -15px;
}

.cba-salereturn-top-menus > ul > li {
    margin-top: 5px;
}

.cba-salereturn-top-menus > ul > li > a.cba-salereturn-active-menu {
    text-decoration: none;
    color: var(--white);
    font-size: 1rem;
    font-weight: 500;
    background-color: var(--m-green);
    padding: 10px 15px;
    border-radius: 5px;
}

.cba-salereturn-top-menus > ul > li > a.cba-salereturn-light-up {
    text-decoration: none;
    color: var(--black);
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
}

.cba-salereturn-top-menus > ul > li > a.cba-salereturn-light-up:hover {
    color: var(--orange);
}

/* inner container */

.cba-salereturn-input-area-con {
    padding: 30px 20px 20px 20px;
    background-color: var(--white);
    border-radius: 5px;
}

.cba-salereturn-input-area-con > .cba-salereturn-iac-heading  {
    border-bottom: 1px solid var(--gray-black);
}

.cba-salereturn-input-area-con > .cba-salereturn-iac-heading > h2 {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--lt-black);
}

.cba-salereturn-input-area-con > .cba-salereturn-iac-input-area {
    padding-top: 20px;
    display: flex;
    gap: 15px;
    justify-content: left;
    align-items: center;
}

.cba-salereturn-input-area-con > .cba-salereturn-iac-input-area > .cba-salereturn-iac-lain {
    width: 20%;
    display: flex;
    align-items: center;
    gap: 30px;
}

.cba-salereturn-input-area-con > .cba-salereturn-iac-input-area > .cba-salereturn-iac-lain > label {
    color: var(--lt-black);
    font-size: 1rem;
    font-weight: 500;
    white-space: nowrap;
    margin-bottom: 5px!important;
}

.cba-salereturn-input-area-con > .cba-salereturn-iac-input-area > .cba-salereturn-iac-lain > input {
    width: 100%!important;
    padding: 7px 10px 5px 10px!important;
    border: 1px solid var(--gray-black);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
    color: var(--lt-black);
    text-align: left;
}

@media (max-width: 1536px) {
    .cba-salereturn-input-area-con > .cba-salereturn-iac-input-area > .cba-salereturn-iac-lain > input {
    width: 135px!important;
    }
}

.cba-salereturn-input-area-con > .cba-salereturn-iac-input-area > .cba-salereturn-iac-lain > label > span.required {
    color: var(--red);
}

.cba-salereturn-input-area-con > .cba-salereturn-iac-input-area > .cba-salereturn-iac-subbtn {
    color: var(--white);
    background-color: var(--m-green);
    padding: 1px 5px 1px 5px!important;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 10px;
}