@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}


ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}


:root {
    --gray-white: #F0F1F2;
    --white: #FFFFFF;
    --black: #000000;
    --gray-black: #DDDDDD;
    --light-black: #212523;
    --light-black-op: #21252350;
    --main-green: #157343;
    --main-light: #37A000;
    --orange: #FD7E14;
    --green: #008000;
    --light-green: #e9f6ec;
    --red: #FF0000;
    --light-red: #fbeaec;
    /* === FONTS SIZE FOR HEADING === */
    --primary-head: 22px;
    --secondary-head: 1.125rem;
    --secondary: 1rem;
    --primary-para: 0.825rem;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}
/* === PARENT CONTAINER === */
.sar-sh-parent-container{
    width: 100%;
}
/* === CHILD CONTAINER === */
.sar-sh-child-container{
    background-color: var(--white);
    box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.1);
    margin: 20px;
    border-radius: 5px;
}
/* === STOCK REPORT CARD SECTION ===  */
.sar-sh-stock-report-section{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid var(--gray-black);
}
.sar-sh-stock-report-section p{
    font-size: var(--secondary);
}
.sar-sh-stock-report-section a{
    background-color: var(--main-green);
    color: var(--white);
    padding: 5px 10px;
    border-radius: 5px;
}
.sar-sh-stock-report-section i{
    margin-right: 5px;
}
/* === FILTER DROPDOWN SECTION === */
.sar-sh-filter-drop-down-section{
    gap: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    align-items: flex-end;
    border-bottom: 1px solid var(--gray-black);
}
/* === SH DRAFT CONTAINER === */
.sar-sh-draft-container{
    line-height: 2em;
    border-radius: 14px;
}
.sar-sh-draft-container input{
    padding: 5px 8px;
    border: 1px solid var(--light-black-op);
    width: 180px;
    margin-bottom: 0;
    
}
.sar-sh-draft-container input:focus{
    outline: none;
}
/* === FILTER SEARCH === */
.sar-sh-filter-search-box{
    background-color: var(--main-green);
    padding: 4px 10px;
    color: var(--white);
    gap: 5px;
    border-radius: 5px;
    font-size: var(--secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3px;
}
/* === FILTER RESET === */
.sar-sh-filter-reset-box{
    background-color: var(--red);
    padding: 4px 10px;
    color: var(--white);
    gap: 5px;
    border-radius: 5px;
    font-size: var(--secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3px;
}
.sar-sh-line{
    padding-right: 20px;
    padding-left: 20px;
}
/* === STOCK AND QTY CONTAINER === */
.sar-sh-stock-qty-container{
    width: 30%;
    padding: 20px;
    border-bottom: 1px solid var(--gray-black);
}

table{
    width: 100%;
    border-collapse: collapse;
    padding: 0px 30px;
}
th, td{
    border: 1px solid var(--light-black-op);
    padding: 5px;
}
.sar-text-end{
    text-align: end;
}
.sar-text-start{
    text-align: left;
}
.sar-text-last{
    width: 8%;
}

/* === SHOW & FILE & SEARCH === */

.sar-show-file-search-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 0px 20px;
}
.sar-sh-show-container{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: var(--secondary);
}
.sar-sh-show-container select{
    height: 36px;
    width: 40px;
    text-align: center;
    font-size: var(--secondary);
    border-radius: 0px;
}
/* === FILE CONTAINER === */
.sar-sh-file-container{
    display: flex;
    align-items: center;
    gap: 10px;
}
.sar-sh-file-container a{
    background-color: var(--main-green);
    color: var(--white);
    padding: 5px 10px;
    border-radius: 0px;
}
/* === SHOW SEARCH CONTAINER === */
.sar-sh-show-search-container{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: var(--secondary);
}
.sar-sh-show-search-container input{
    padding: 5px 8px;
    border: 1px solid var(--gray-black);
    border-radius: 0px;
}
.sar-sh-show-search-container input:focus{
    outline: none;
}
/* === PRODUCTS DETAILS TABLE === */
.sar-sh-product-details-table{
    padding: 20px 20px 0px 20px;
    width: 100%;
}
.sar-sh-product-details-table table{
    width: 100%;
    border-collapse: collapse;
}

@media (max-width: 1536px) {
    .sar-sh-product-details-table table{
        width: 100%;
        overflow-x: scroll;
        display: block;
        padding: 0;
    }
}

.sar-sl{
    text-align: left;
    font-size: 0.827rem;
    font-weight: normal;
}
tfoot tr td{
    font-size: 0.827rem;
}
.sar-sh-total{
    text-align: center;
}
.sar-sh-amosar-unt{
    text-align: right;
}
span{
    color: var(--red);
}
span p{
    color: var(--green);
}

/* === SLIDE PAGES === */
.sar-sh-slider-pages {
    padding: 0px 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sar-sh-slide-right-item {
    gap: 10px;
    display: flex;
    align-items: center;
}

.sar-sh-slide-right-item a {
    padding: 6px 10px;
    border-radius: 5px;
    color: var(--black);
    background-color: var(--gray-white);
}

.sar-sh-slide-right-item p {
    padding: 6px 15px;
    border-radius: 5px;
    color: var(--white);
    background-color: var(--main-green);
}