@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

:root {
    --gray-white: #F0F1F2;
    --white: #FFFFFF;
    --black: #000000;
    --gray-black: #DDDDDD;
    --lt-black: #212523;
    --lt-black-op: #21252350;
    --m-green: #157343;
    --m-light: #37A000;
    --orange: #FD7E14;
    --green: #008000;
    --lt-green: #e9f6ec;
    --red: #FF0000;
    --lt-red: #fbeaec;
    /* === FONTS SIZE FOR HEADING === */
    --primary-head: 22px;
    --secondary-head: 1.125rem;
    --secondary: 1rem;
    --primary-para: 0.825rem;
}

/* main container */

.cba-manage-purchase-section-container {
    padding: 20px 20px 20px 30px;
}

/* === TOP MENU ITEMS === */
.manage-purchase-sh-top-menu-items{
    width: 100%;
    border-radius: 5px;
    background-color: var(--white);
    padding: 15px 0px 0px 5px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.manage-purchase-sh-top-menu-items ul{
    display: flex;
    gap: 10px;
    align-items: center;
    padding-bottom: 15px;
    margin-left: -20px;
}
.manage-purchase-sh-top-menu-items li{
    height: 50px;
}
.manage-purchase-sh-top-menu-items a{
    height: 100%;
    padding: 0px 20px;
    color: var(--black);
    font-size: var(--secondary);
    font-weight: 500;
    white-space: nowrap;
    display: flex;
    align-items: center;

}
.manage-purchase-sh-menu-items a:hover{
    color: var(--orange);
}
/* === ACTIVE MENU === */
.manage-purchase-sh-active-item a{
    background-color: var(--m-green);
    color: var(--white);
    border-radius: 5px;
}
/* === COUNTER SECTION === */
.manage-purchase-counter-section{
    display: flex;
    width: 100%;
    gap: 30px;
}
/* === TOTAL SALE SECTION === */
.manage-purchase-total-sale-section{
    width: 100%;
    gap: 10px;
    background-color: var(--white);
    box-shadow: 3px 3px 5px solid rgb(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
}
/* === HOME ICON === */
.manage-purchase-total-sale-section i{
    width: 60px;
    height: 60px;
    font-size: 2rem;
    padding: 10px 8px;
    border-radius: 5px;
    color: white;
    background-color: var(--orange);
    display: flex;
    align-items: center;
    justify-content: center;
}
/* === TOTAL SALE SECTION === */
.manage-purchase-total-paid-section{
    width: 100%;
    gap: 10px;
    background-color: var(--white);
    box-shadow: 3px 3px 5px solid rgb(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
}
/* === HOME ICON === */
.manage-purchase-total-paid-section i{
    width: 60px;
    height: 60px;
    font-size: 2rem;
    padding: 10px 8px;
    border-radius: 5px;
    color: var(--white);
    background-color: var(--m-green);
    display: flex;
    align-items: center;
    justify-content: center;
}
/* === TOTAL DUE SECTION === */
.manage-purchase-total-due-section{
    width: 100%;
    gap: 10px;
    background-color: var(--white);
    box-shadow: 3px 3px 5px solid rgb(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
}
/* === HOME ICON === */
.manage-purchase-total-due-section i{
    width: 60px;
    height: 60px;
    font-size: 2rem;
    padding: 10px 8px;
    border-radius: 5px;
    color: var(--white);
    background-color: var(--red);
    display: flex;
    align-items: center;
    justify-content: center;
}
/* === SALE TEXT === */
.manage-purchase-sale-text{
    line-height: 2em;
}
.manage-purchase-sale-text p{
    font-size: var(--secondary);
}
.manage-purchase-sale-text h1{
    font-size: var(--primary-head);
}
/* === MANAGE SECTION === */
.manage-purchase-manage-section{
    margin-top: 20px;
    border-radius: 5px;
    background-color: var(--white);
}
/* === MANAGE CONTAINER === */
.manage-purchase-manage-container{
    margin: 0px 20px;
    padding: 30px 0px!important;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--gray-black);
}
.manage-purchase-manage-container p{
    font-size: var(--secondary);
}
/* === FILTER AND ADD SECTION === */
.manage-purchase-filter-add-new{
    gap: 10px;
    display: flex;
    align-items: center;
}
.manage-purchase-filter-container{
    gap: 10px;
    color: var(--white);
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--m-green);
    display: flex;
    align-items: center;
}
.manage-purchase-filter-container a{
    color: var(--white);
}
.manage-purchase-add-new-sale-container{
    gap: 10px;
    color: var(--white);
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--m-green);
    display: flex;
    align-items: center;
}
.manage-purchase-add-new-sale-container a{
    color: var(--white);
}
/* === FILTER CONTAINER ITEMS === */
.manage-purchase-filter-container-items{
    height: 70px;
    padding: 50px 30px 40px!important;
    gap: 40px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--gray-black);
}

.manage-purchase-sale-date-input-box input{
    padding: 7px 10px;
    font-size: 1rem;
    text-align: left;
    border: 1px solid var(--gray-black);
}
.manage-purchase-sale-date-input-box input:focus{
    outline: none;
}
/* === FIND BUTTON === */
.manage-purchase-sh-button-container{
    display: flex;
    align-items: center;
    gap: 20px;
}
.manage-purchase-sh-find-button {
    margin-top: -9px;
}
.manage-purchase-sh-find-button a{
    background-color: var(--m-green);
    color: var(--white);
    padding: 7px 10px;
    border-radius: 3px;
    font-size: var(--primary-para);
}
.manage-purchase-sh-reset-button {
    margin-top: -9px;
}
.manage-purchase-sh-reset-button a{
    background-color: var(--red);
    color: var(--white);
    padding: 7px 10px;
    border-radius: 3px;
    font-size: var(--primary-para);
}
/* === SHOW AND SEARCH SECTION === */
.manage-purchase-show-and-search-section{
    height: 90px;
    margin: 0px 25px;
    margin-bottom: -20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.manage-purchase-show-container p {
    margin-top: 9px;
}
.manage-purchase-show-container select {
    padding: 8px 10px 5px!important;
}
/* === SHOW CONTAINER === */
.manage-purchase-show-container{
    display: flex;
    gap: 5px;
}
/* === SEARCH CONTAINER === */
.manage-purchase-search-container  label {
    padding-right: 10px;
}
.manage-purchase-search-container input{
    width: 250px;
    border: 1px solid var(--gray-black);
    border-radius: 3px;
    padding: 4px 8px;
}
.manage-purchase-search-container input:focus{
    outline: 1px solid #2B51B0;
    border: none;
}
/* === MANAGE SALE DETAILS SECTION === */
.manage-purchase-manage-sale-details-section{
    width: 100%;
    padding: 0px 25px;
}
/* === TABLE === */
table{
    width: 100%;
    border-collapse: collapse;
}
th, td{
    padding: 10px;
    border: 1px solid var(--lt-black-op);
}
table th{
    font-size: var(--secondary);
    font-weight: 500;
}

/* === SLIDE PAGES === */
.manage-purchase-sh-slider-pages {
    padding: 0px 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.manage-purchase-sh-slide-right-item {
    gap: 10px;
    display: flex;
    align-items: center;
}

.manage-purchase-sh-slide-right-item a {
    padding: 6px 10px;
    border-radius: 5px;
    color: var(--black);
    background-color: var(--lt-black-op);
}

.manage-purchase-sh-slide-right-item p {
    padding: 6px 15px;
    border-radius: 5px;
    color: var(--white);
    background-color: var(--m-green);
}