.custom-input-data{
    border: none!important;
    outline: none;
    text-align: right;
}
.inv-inp{
    /* padding-right: 0px !important; */
}
.custom-input-width {
    /* width: 100px !important; */
    font-family: Arial, sans-serif; /* Ensure a common font is applied */
    /* margin-right: 100px; */
  
}

/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
} */

.menu-inner {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    height: 100%;
    line-height: 2;
}