/* -- fonts -- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=VT323&display=swap');

/* -- root -- */

:root {
    --gray-white: #F0F1F2;
    --white: #FFFFFF;
    --black: #000000;
    --gray-black: #DDDDDD;
    --light-black: #212523;
    --main-green: #157343;
    --main-light: #37A000;
    --light-orange: #FD7E14;
    --green: #008000;
    --light-green: #e9f6ec;
    --red: #FF0000;
    --light-red: #fbeaec;
}

/* ---------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
}

::selection {
    color: var(--white);
    background-color: var(--main-light);
}

/* -- add new container style -- */

.asc-add-sub-container {
    width: 100%;
    margin-top: 10px;
    padding: 20px 20px 20px 30px;
}

/* -- top menus style--  */

.asc-top-menus {
    background-color: var(--white);
    display: flex;
    justify-content: left;
    align-items: center;
    height: 60px;
    margin-bottom: 15px;
}

.asc-top-menus ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
    margin-left: -20px;
    margin-bottom: -1px;
}

.asc-top-menus ul li a {
    text-decoration: none;
    color: var(--black);
    font-size: 15px;
    font-weight: 500;
}

/* -- active menu style -- */

.asc-active-menu {
    color: var(--white)!important;
    background-color: var(--main-green);
    padding: 8px 12px;
    border-radius: 5px;
}

/* -- menu hover style -- */

.asc-light-up:hover {
    color: var(--light-orange);
}

/* -- list container style -- */

.asc-add-container {
    background-color: var(--white);
    padding: 0px 20px;
}

/* -- heading-add-new-btn style -- */

.asc-heading-add-new-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--gray-black);
    padding: 15px 0px;
}

.asc-heading h2 {
    color: var(--light-black);
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 0;
}

/* -- add-new-btn style -- */

.asc-subc-list-btn {
    display: flex;
    gap: 5px;
    justify-content: baseline;
    align-items: center;
}

.asc-subc-list-btn {
    background-color: var(--main-green);
    padding: 5px 10px;
    border-radius: 5px;
}

.asc-subc-list-btn a {
    color: var(--white);
    text-decoration: none;
}

.asc-add-icon {
    color: var(--white);
    font-size: 20px;
}

/* -- category add field style -- */

/* -- label red star style -- */
.asc-required {
    color: var(--red);
}

.asc-category-add-field {
    width: 50%;
    padding-top: 30px;
    padding-bottom: 20px;
}

.asc-form-con {
    display: grid;
    gap: 20px;
    grid-template-columns: 35% 65%;
}

.asc-form-con label {
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.asc-label {
    display: flex;
    gap: 22px;
    flex-direction: column;
    margin-top: 15px;
}

.asc-label > label {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.asc-form-con input {
    display: flex;
    justify-content: left;
    flex-direction: column;
    width: 500px;
}

.asc-form-con label label {
    color: var(--light-black);
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 22.5px;
}

input[type="text"] {
    width: 100%;
    padding: 7.5px 10px;
    border: 1px solid var(--gray-black);
    border-radius: 5px;
    outline: none;
    margin-top: 0px;
    margin-bottom: 10px;
}

select {
    width: 100%;
    padding: 7.5px 10px;
    border: 1px solid var(--gray-black);
    border-radius: 5px;
    outline: none;
    appearance: none;
    margin-bottom: 10px;
}

.asc-submit-btn {
    display: flex;
    justify-content: right;
}

input[type="submit"] {
    width: 20%;
    background-color: var(--main-green);
    color: var(--white);
    border: none;
    border-radius: 5px;
    padding: 8px 12px 5px;
    cursor: pointer;
}